<a href="https://colab.research.google.com/github/rani-sikdar/Python-Data-Structures/blob/main/Hackerrank_Python_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def checkk(n):
  if (n%2==0) and (2<=n<=5): print('Not Weird')
  elif (n%2==0) and (6<=n<=20): print('Weird')
  elif (n%2==0) and (n>=20): print('Not Weird')
  elif (n%2 != 0) : print('Weird')

  print('inside def')

print('start def..')
print(checkk(3))
print('outside def')

start def..
Weird
inside def
None
outside def

In [2]:
print(checkk(24))

Not Weird
inside def
None

In [3]:
# Syntax: newList = [ expression(element) for element in oldList if condition ]
data = [1,2,3,4,5]
list_ = [ d*d for d in data ]
list_

[1, 4, 9, 16, 25]

In [4]:
def is_leap(year):
    leap = False

    # Write your logic here
    if year>=1900 and year<=10**5:
        if (year%4 != 0): leap= False
        if (year%4 == 0) and (year%100 !=0): leap= True
        if (year%4 == 0) and (year%100 ==0) and (year%400 !=0):leap= False
        if (year%4 == 0) and (year%100 ==0) and (year%400 ==0):leap= True

    return leap

In [5]:
is_leap(2933)

False

In [6]:
n = 3
print(*[x for x in range(1,n+1)], sep="")  # (*) unpacks the list

123

In [7]:
n = 3
print([x for x in range(1,n+1)], sep="")

[1, 2, 3]

You are given three integers x,y,z representing the dimensions of a cuboid along with an integer n. Print a list of all possible coordinates given by (i,j,k) on a 3D grid where the sum of (i+j+k) is not equal to n.

In [8]:
def possiblities(x,y,z,n):
    # x = int(input())
    # y = int(input())
    # z = int(input())
    # n = int(input())

    res=([i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1))
    newList= [[i,j,k] for [i,j,k] in res if i+j+k != n]

    print(newList)

possiblities(1,1,1,2)

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [9]:
Lst1 = [1, 2, 3, 4, 5]
lst2=[]
for i in Lst1:
  lst2.insert(0,i)
print(lst2)

[5, 4, 3, 2, 1]

In [10]:
lst1 = [15, 14, 13, 12, 11, 10]
lst2 = [10, 11, 12, 13, 14, 15]
x= zip(lst1, lst2)
print(set(x))

{(10, 15), (12, 13), (15, 10), (13, 12), (11, 14), (14, 11)}

In [11]:
str1 = "Analytics Vidhya"
str2 = ""
for i in str1:
    str2 = i + str2
print("The original string is: ", str1)
print("The reversed string is: ", str2)

The original string is:  Analytics Vidhya
The reversed string is:  ayhdiV scitylanA