<a href="https://colab.research.google.com/github/rani-sikdar/Python-Data-Structures/blob/main/pandas_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
# using list

In [3]:
data = [
 [100,80,10],
 [90,70,7],
 [120,100,14],
 [80,50,2]
]

In [4]:
df= pd.DataFrame(data)

In [5]:
df

     0    1   2
0  100   80  10
1   90   70   7
2  120  100  14
3   80   50   2

In [6]:
# https://chatgpt.com/c/694b6b22-b0a8-8324-93d8-3761c559f7ba

In [7]:
df.columns = ['Id', 'Marks', 'Package']
df

    Id  Marks  Package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2

In [8]:
df= pd.DataFrame(data, columns=['Id', 'Marks', 'Package'])
df

    Id  Marks  Package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2

In [9]:
df

    Id  Marks  Package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2

In [10]:
# using dict

In [11]:
student_dict = {
 'name':['nitish','ankit','rupesh','rishabh','amit','disha'],
 'iq':[100,90,120,80,0,0],
 'marks':[80,70,100,50,0,0],
 'package':[10,7,14,2,0,0]
}

In [12]:
st = pd.DataFrame(student_dict)

In [13]:
st

      name   iq  marks  package
0   nitish  100     80       10
1    ankit   90     70        7
2   rupesh  120    100       14
3  rishabh   80     50        2
4     amit    0      0        0
5    disha    0      0        0

In [14]:
st.set_index('name', inplace=True)

In [15]:
st

          iq  marks  package
name
nitish   100     80       10
ankit     90     70        7
rupesh   120    100       14
rishabh   80     50        2
amit       0      0        0
disha      0      0        0

In [16]:
movies = pd.read_csv('movies.csv')

In [17]:
movies

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [18]:
movies.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [19]:
movies.shape

(77, 8)

In [20]:
movies.dtypes
# here you will get whole series for each attribute

Film                  object
Genre                 object
Lead Studio           object
Audience score %       int64
Profitability        float64
Rotten Tomatoes %      int64
Worldwide Gross       object
Year                   int64
dtype: object

In [21]:
movies.columns

Index(['Film', 'Genre', 'Lead Studio', 'Audience score %', 'Profitability',
       'Rotten Tomatoes %', 'Worldwide Gross', 'Year'],
      dtype='object')

In [22]:
movies.values

array([['Zack and Miri Make a Porno', 'Romance', 'The Weinstein Company',
        70, 1.747541667, 64, '$41.94 ', 2008],
       ['Youth in Revolt', 'Comedy', 'The Weinstein Company', 52, 1.09,
        68, '$19.62 ', 2010],
       ['You Will Meet a Tall Dark Stranger', 'Comedy', 'Independent',
        35, 1.211818182, 43, '$26.66 ', 2010],
       ['When in Rome', 'Comedy', 'Disney', 44, 0.0, 15, '$43.04 ', 2010],
       ['What Happens in Vegas', 'Comedy', 'Fox', 72, 6.267647029, 28,
        '$219.37 ', 2008],
       ['Water For Elephants', 'Drama', '20th Century Fox', 72,
        3.081421053, 60, '$117.09 ', 2011],
       ['WALL-E', 'Animation', 'Disney', 89, 2.896019067, 96, '$521.28 ',
        2008],
       ['Waitress', 'Romance', 'Independent', 67, 11.0897415, 89,
        '$22.18 ', 2007],
       ['Waiting For Forever', 'Romance', 'Independent', 53, 0.005, 6,
        '$0.03 ', 2011],
       ["Valentine's Day", 'Comedy', 'Warner Bros.', 54, 4.184038462, 17,
        '$217.57 ', 2010],
       ["Tyler Perry's Why Did I get Married", 'Romance', 'Independent',
        47, 3.7241924, 46, '$55.86 ', 2007],
       ['Twilight: Breaking Dawn', 'Romance', 'Independent', 68,
        6.383363636, 26, '$702.17 ', 2011],
       ['Twilight', 'Romance', 'Summit', 82, 10.18002703, 49, '$376.66 ',
        2008],
       ['The Ugly Truth', 'Comedy', 'Independent', 68, 5.402631579, 14,
        '$205.30 ', 2009],
       ['The Twilight Saga: New Moon', 'Drama', 'Summit', 78, 14.1964,
        27, '$709.82 ', 2009],
       ["The Time Traveler's Wife", 'Drama', 'Paramount', 65,
        2.598205128, 38, '$101.33 ', 2009],
       ['The Proposal', 'Comedy', 'Disney', 74, 7.8675, 43, '$314.70 ',
        2009],
       ['The Invention of Lying', 'Comedy', 'Warner Bros.', 47,
        1.751351351, 56, '$32.40 ', 2009],
       ['The Heartbreak Kid', 'Comedy', 'Paramount', 41, 2.129444167, 30,
        '$127.77 ', 2007],
       ['The Duchess', 'Drama', 'Paramount', 68, 3.207850222, 60,
        '$43.31 ', 2008],
       ['The Curious Case of Benjamin Button', 'Fantasy', 'Warner Bros.',
        81, 1.78394375, 73, '$285.43 ', 2008],
       ['The Back-up Plan', 'Comedy', 'CBS', 47, 2.202571429, 20,
        '$77.09 ', 2010],
       ['Tangled', 'Animation', 'Disney', 88, 1.365692308, 89,
        '$355.01 ', 2010],
       ['Something Borrowed', 'Romance', 'Independent', 48, 1.719514286,
        15, '$60.18 ', 2011],
       ["She's Out of My League", 'Comedy', 'Paramount', 60, 2.4405, 57,
        '$48.81 ', 2010],
       ['Sex and the City Two', 'Comedy', 'Warner Bros.', 49, 2.8835, 15,
        '$288.35 ', 2010],
       ['Sex and the City 2', 'Comedy', 'Warner Bros.', 49, 2.8835, 15,
        '$288.35 ', 2010],
       ['Sex and the City', 'Comedy', 'Warner Bros.', 81, 7.221795791,
        49, '$415.25 ', 2008],
       ['Remember Me', 'Drama', 'Summit', 70, 3.49125, 28, '$55.86 ',
        2010],
       ['Rachel Getting Married', 'Drama', 'Independent', 61,
        1.384166667, 85, '$16.61 ', 2008],
       ['Penelope', 'Comedy', 'Summit', 74, 1.382799733, 52, '$20.74 ',
        2008],
       ['P.S. I Love You', 'Romance', 'Independent', 82, 5.103116833, 21,
        '$153.09 ', 2007],
       ['Over Her Dead Body', 'Comedy', 'New Line', 47, 2.071, 15,
        '$20.71 ', 2008],
       ['Our Family Wedding', 'Comedy', 'Independent', 49, 0.0, 14,
        '$21.37 ', 2010],
       ['One Day', 'Romance', 'Independent', 54, 3.682733333, 37,
        '$55.24 ', 2011],
       ['Not Easily Broken', 'Drama', 'Independent', 66, 2.14, 34,
        '$10.70 ', 2009],
       ['No Reservations', 'Comedy', 'Warner Bros.', 64, 3.307180357, 39,
        '$92.60 ', 2007],
       ["Nick and Norah's Infinite Playlist", 'Comedy', 'Sony', 67,
        3.3527293, 73, '$33.53 ', 2008],
       ["New Year's Eve", 'Romance', 'Warner Bros.', 48, 2.536428571, 8,
        '$142.04 ', 2011],
       ['My Week with Marilyn', 'Drama', 'The Weinstein Company', 84,
        0.8258, 83, '$8.26 ', 2011],
       ['Music and Lyrics', 'Romance', 'Warner Bros.', 70, 3.64741055,
        63, '$145.90 ', 2007],
       ['Monte Carlo', 'Romance', '20th Century Fox', 50, 1.9832, 38,
        '$39.66 ', 2011],
       ['Miss Pettigrew Lives for a Day', 'Comedy', 'Independent', 70,
        0.2528949, 78, '$15.17 ', 2008],
       ['Midnight in Paris', 'Romence', 'Sony', 84, 8.744705882, 93,
        '$148.66 ', 2011],
       ['Marley and Me', 'Comedy', 'Fox', 77, 3.746781818, 63,
        '$206.07 ', 2008],
       ['Mamma Mia!', 'Comedy', 'Universal', 76, 9.234453864, 53,
        '$609.47 ', 2008],
       ['Mamma Mia!', 'Comedy', 'Universal', 76, 9.234453864, 53,
        '$609.47 ', 2008],
       ['Made of Honor', 'Comdy', 'Sony', 61, 2.64906835, 13, '$105.96 ',
        2008],
       ['Love Happens', 'Drama', 'Universal', 40, 2.004444444, 18,
        '$36.08 ', 2009],
       ['Love & Other Drugs', 'Comedy', 'Fox', 55, 1.817666667, 48,
        '$54.53 ', 2010],
       ['Life as We Know It', 'Comedy', 'Independent', 62, 2.530526316,
        28, '$96.16 ', 2010],
       ['License to Wed', 'Comedy', 'Warner Bros.', 55, 1.9802064, 8,
        '$69.31 ', 2007],
       ['Letters to Juliet', 'Comedy', 'Summit', 62, 2.639333333, 40,
        '$79.18 ', 2010],
       ['Leap Year', 'Comedy', 'Universal', 49, 1.715263158, 21,
        '$32.59 ', 2010],
       ['Knocked Up', 'Comedy', 'Universal', 83, 6.636401848, 91,
        '$219 ', 2007],
       ['Killers', 'Action', 'Lionsgate', 45, 1.245333333, 11, '$93.40 ',
        2010],
       ['Just Wright', 'Comedy', 'Fox', 58, 1.797416667, 45, '$21.57 ',
        2010],
       ['Jane Eyre', 'Romance', 'Universal', 77, 0.0, 85, '$30.15 ',
        2011],
       ["It's Complicated", 'Comedy', 'Universal', 63, 2.642352941, 56,
        '$224.60 ', 2009],
       ['I Love You Phillip Morris', 'Comedy', 'Independent', 57, 1.34,
        71, '$20.10 ', 2010],
       ['High School Musical 3: Senior Year', 'Comedy', 'Disney', 76,
        22.91313646, 65, '$252.04 ', 2008],
       ["He's Just Not That Into You", 'Comedy', 'Warner Bros.', 60,
        7.1536, 42, '$178.84 ', 2009],
       ['Good Luck Chuck', 'Comedy', 'Lionsgate', 61, 2.36768512, 3,
        '$59.19 ', 2007],
       ['Going the Distance', 'Comedy', 'Warner Bros.', 56, 1.3140625,
        53, '$42.05 ', 2010],
       ['Gnomeo and Juliet', 'Animation', 'Disney', 52, 5.387972222, 56,
        '$193.97 ', 2011],
       ['Gnomeo and Juliet', 'Animation', 'Disney', 52, 5.387972222, 56,
        '$193.97 ', 2011],
       ['Ghosts of Girlfriends Past', 'Comedy', 'Warner Bros.', 47,
        2.0444, 27, '$102.22 ', 2009],
       ['Four Christmases', 'Comedy', 'Warner Bros.', 52, 2.022925, 26,
        '$161.83 ', 2008],
       ['Fireproof', 'Drama', 'Independent', 51, 66.934, 40, '$33.47 ',
        2008],
       ['Enchanted', 'Comedy', 'Disney', 80, 4.005737082, 93, '$340.49 ',
        2007],
       ['Dear John', 'Drama', 'Sony', 66, 4.5988, 29, '$114.97 ', 2010],
       ['Beginners', 'Comedy', 'Independent', 80, 4.471875, 84,
        '$14.31 ', 2011],
       ['Across the Universe', 'romance', 'Independent', 84, 0.652603178,
        54, '$29.37 ', 2007],
       ['A Serious Man', 'Drama', 'Universal', 64, 4.382857143, 89,
        '$30.68 ', 2009],
       ['A Dangerous Method', 'Drama', 'Independent', 89, 0.44864475, 79,
        '$8.97 ', 2011],
       ['27 Dresses', 'Comedy', 'Fox', 71, 5.3436218, 40, '$160.31 ',
        2008],
       ['(500) Days of Summer', 'comedy', 'Fox', 81, 8.096, 87,
        '$60.72 ', 2009]], dtype=object)

In [23]:
st

          iq  marks  package
name
nitish   100     80       10
ankit     90     70        7
rupesh   120    100       14
rishabh   80     50        2
amit       0      0        0
disha      0      0        0

In [24]:
st.dtypes

iq         int64
marks      int64
package    int64
dtype: object

In [25]:
movies.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [26]:
movies.head(3)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010

In [27]:
movies.tail()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [28]:
movies.tail(3)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [29]:
movies.sample()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,73,$285.43,2008

In [30]:
movies.sample(7)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
49,Love & Other Drugs,Comedy,Fox,55,1.817667,48,$54.53,2010
57,Jane Eyre,Romance,Universal,77,0.000000,85,$30.15,2011
32,Over Her Dead Body,Comedy,New Line,47,2.071000,15,$20.71,2008
9,Valentine's Day,Comedy,Warner Bros.,54,4.184038,17,$217.57,2010
62,Good Luck Chuck,Comedy,Lionsgate,61,2.367685,3,$59.19,2007
35,Not Easily Broken,Drama,Independent,66,2.140000,34,$10.70,2009
67,Four Christmases,Comedy,Warner Bros.,52,2.022925,26,$161.83,2008

In [31]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               77 non-null     object
 1   Genre              77 non-null     object
 2   Lead Studio        77 non-null     object
 3   Audience score %   77 non-null     int64
 4   Profitability      77 non-null     float64
 5   Rotten Tomatoes %  77 non-null     int64
 6   Worldwide Gross    77 non-null     object
 7   Year               77 non-null     int64
dtypes: float64(1), int64(3), object(4)
memory usage: 4.9+ KB

In [32]:
movies.describe()
# provides mathematical summary on the numerical values present in the data

       Audience score %  Profitability  Rotten Tomatoes %         Year
count         77.000000      77.000000          77.000000    77.000000
mean          63.727273       4.599483          46.701299  2009.077922
std           13.657113       8.031990          26.095001     1.354974
min           35.000000       0.000000           3.000000  2007.000000
25%           52.000000       1.751351          26.000000  2008.000000
50%           64.000000       2.642353          45.000000  2009.000000
75%           76.000000       5.103117          64.000000  2010.000000
max           89.000000      66.934000          96.000000  2011.000000

In [33]:
movies.isnull()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
72,False,False,False,False,False,False,False,False
73,False,False,False,False,False,False,False,False
74,False,False,False,False,False,False,False,False
75,False,False,False,False,False,False,False,False
76,False,False,False,False,False,False,False,False

In [34]:
movies.isnull().sum()

Film                 0
Genre                0
Lead Studio          0
Audience score %     0
Profitability        0
Rotten Tomatoes %    0
Worldwide Gross      0
Year                 0
dtype: int64

In [35]:
movies.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
72    False
73    False
74    False
75    False
76    False
Length: 77, dtype: bool

In [36]:
movies.duplicated().sum()

np.int64(2)

In [37]:
st.duplicated().sum()

np.int64(1)

In [38]:
st

          iq  marks  package
name
nitish   100     80       10
ankit     90     70        7
rupesh   120    100       14
rishabh   80     50        2
amit       0      0        0
disha      0      0        0

In [39]:
st.rename(columns={"iq":"Id","marks":"percent", "package":"LPA"})

          Id  percent  LPA
name
nitish   100       80   10
ankit     90       70    7
rupesh   120      100   14
rishabh   80       50    2
amit       0        0    0
disha      0        0    0

In [40]:
st.rename(index={"nitish":"A","ankit":"B","rupesh":"C","rishabh":"D","amit":"E","disha":"F"})

       iq  marks  package
name
A     100     80       10
B      90     70        7
C     120    100       14
D      80     50        2
E       0      0        0
F       0      0        0

In [41]:
#@title Math Methods

student_dict = {
 'iq':[100,90,120,80,0,0],
 'marks':[80,70,100,50,0,0],
 'package':[10,7,14,2,0,0]
}

In [42]:
sts = pd.DataFrame(student_dict)
sts

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2
4    0      0        0
5    0      0        0

In [43]:
sts.sum()

iq         390
marks      300
package     33
dtype: int64

In [44]:
sts.sum(axis=1) # row wise

0    190
1    167
2    234
3    132
4      0
5      0
dtype: int64

In [45]:
sts.sum(axis=0) # column wise

iq         390
marks      300
package     33
dtype: int64

In [46]:
sts.mean()

iq         65.0
marks      50.0
package     5.5
dtype: float64

In [47]:
sts.mean(axis=1) # row wise mean

0    63.333333
1    55.666667
2    78.000000
3    44.000000
4     0.000000
5     0.000000
dtype: float64

In [48]:
sts.median()

iq         85.0
marks      60.0
package     4.5
dtype: float64

In [49]:
sts.var()

iq         2710.0
marks      1760.0
package      33.5
dtype: float64

In [50]:
sts.corr()

               iq     marks   package
iq       1.000000  0.989038  0.879506
marks    0.989038  1.000000  0.938979
package  0.879506  0.938979  1.000000

In [51]:
sts.var(axis=1)

0    2233.333333
1    1876.333333
2    3172.000000
3    1548.000000
4       0.000000
5       0.000000
dtype: float64

In [52]:
sts.std()

iq         52.057660
marks      41.952354
package     5.787918
dtype: float64

In [53]:
sts.std(axis=1)

0    47.258156
1    43.316663
2    56.320511
3    39.344631
4     0.000000
5     0.000000
dtype: float64

In [54]:
sts.min(axis=0)

iq         0
marks      0
package    0
dtype: int64

In [55]:
sts.max()

iq         120
marks      100
package     14
dtype: int64

In [56]:
movies.max()

Film                 Zack and Miri Make a Porno
Genre                                   romance
Lead Studio                        Warner Bros.
Audience score %                             89
Profitability                            66.934
Rotten Tomatoes %                            96
Worldwide Gross                         $96.16
Year                                       2011
dtype: object

In [57]:
movies.min()

Film                 (500) Days of Summer
Genre                              Action
Lead Studio              20th Century Fox
Audience score %                       35
Profitability                         0.0
Rotten Tomatoes %                       3
Worldwide Gross                    $0.03
Year                                 2007
dtype: object

In [58]:
movies.head(2)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010

In [59]:
movies.columns

Index(['Film', 'Genre', 'Lead Studio', 'Audience score %', 'Profitability',
       'Rotten Tomatoes %', 'Worldwide Gross', 'Year'],
      dtype='object')

In [60]:
movies['Film']

0             Zack and Miri Make a Porno
1                        Youth in Revolt
2     You Will Meet a Tall Dark Stranger
3                           When in Rome
4                  What Happens in Vegas
                     ...
72                   Across the Universe
73                         A Serious Man
74                    A Dangerous Method
75                            27 Dresses
76                  (500) Days of Summer
Name: Film, Length: 77, dtype: object

In [61]:
type(movies['Film'])

pandas.core.series.Series

In [62]:
movies[['Film','Genre','Year']]

                                  Film    Genre  Year
0           Zack and Miri Make a Porno  Romance  2008
1                      Youth in Revolt   Comedy  2010
2   You Will Meet a Tall Dark Stranger   Comedy  2010
3                         When in Rome   Comedy  2010
4                What Happens in Vegas   Comedy  2008
..                                 ...      ...   ...
72                 Across the Universe  romance  2007
73                       A Serious Man    Drama  2009
74                  A Dangerous Method    Drama  2011
75                          27 Dresses   Comedy  2008
76                (500) Days of Summer   comedy  2009

[77 rows x 3 columns]

Selecting rows from a DataFrame
1. iloc - searches using index positions
2. loc - searches using index labels

In [63]:
# iloc - single row
movies.iloc[0]

Film                 Zack and Miri Make a Porno
Genre                                   Romance
Lead Studio               The Weinstein Company
Audience score %                             70
Profitability                          1.747542
Rotten Tomatoes %                            64
Worldwide Gross                         $41.94
Year                                       2008
Name: 0, dtype: object

In [64]:
type(movies.iloc[0])

pandas.core.series.Series

In [65]:
# iloc - multiple row
movies.iloc[0:5]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [66]:
type(movies.iloc[0:5])

pandas.core.frame.DataFrame

In [67]:
movies.iloc[0:15:2]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
8,Waiting For Forever,Romance,Independent,53,0.005000,6,$0.03,2011
10,Tyler Perry's Why Did I get Married,Romance,Independent,47,3.724192,46,$55.86,2007
12,Twilight,Romance,Summit,82,10.180027,49,$376.66,2008
14,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,27,$709.82,2009

In [68]:
# fancy indexing

movies.iloc[[1,3,4,5,9,15]]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
9,Valentine's Day,Comedy,Warner Bros.,54,4.184038,17,$217.57,2010
15,The Time Traveler's Wife,Drama,Paramount,65,2.598205,38,$101.33,2009

In [69]:
# loc

In [70]:
st

          iq  marks  package
name
nitish   100     80       10
ankit     90     70        7
rupesh   120    100       14
rishabh   80     50        2
amit       0      0        0
disha      0      0        0

In [71]:
st.loc['ankit']

iq         90
marks      70
package     7
Name: ankit, dtype: int64

In [72]:
st.loc['nitish':'amit']

          iq  marks  package
name
nitish   100     80       10
ankit     90     70        7
rupesh   120    100       14
rishabh   80     50        2
amit       0      0        0

In [73]:
st.loc['nitish':'amit':2]

         iq  marks  package
name
nitish  100     80       10
rupesh  120    100       14
amit      0      0        0

In [74]:
# fancy indexing
st.loc[['nitish','rupesh','disha']]

         iq  marks  package
name
nitish  100     80       10
rupesh  120    100       14
disha     0      0        0

In [76]:
# selecting both rows and columns

In [77]:
movies

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [78]:
movies.iloc[0:3, 0:3]

                                 Film    Genre            Lead Studio
0          Zack and Miri Make a Porno  Romance  The Weinstein Company
1                     Youth in Revolt   Comedy  The Weinstein Company
2  You Will Meet a Tall Dark Stranger   Comedy            Independent

In [79]:
# movies.iloc[0:3, 0:3] means selecting the first 3 rows and the first 3 columns from the DataFrame.
# '0:3' for rows means rows with index 0, 1, 2.
# '0:3' for columns means columns with index 0, 1, 2.
# This results in a sub-DataFrame containing the intersection of these selected rows and columns.

In [82]:
movies.loc[0:2, 'Genre':'Profitability']

     Genre            Lead Studio  Audience score %  Profitability
0  Romance  The Weinstein Company                70       1.747542
1   Comedy  The Weinstein Company                52       1.090000
2   Comedy            Independent                35       1.211818

In [83]:
# filtering a Dataframe

In [84]:
movies.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [85]:
movies['Genre']=='Comdey'

0     False
1     False
2     False
3     False
4     False
      ...
72    False
73    False
74    False
75    False
76    False
Name: Genre, Length: 77, dtype: bool

In [89]:
movies[movies['Genre']=='Comedy'].head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
9,Valentine's Day,Comedy,Warner Bros.,54,4.184038,17,$217.57,2010

In [90]:
new_df = movies[movies['Genre']=='Comedy']

In [93]:
new_df.head(2)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010

In [108]:
new_df[['Film','Genre','Rotten Tomatoes %']].head()

                                 Film   Genre  Rotten Tomatoes %
1                     Youth in Revolt  Comedy                 68
2  You Will Meet a Tall Dark Stranger  Comedy                 43
3                        When in Rome  Comedy                 15
4               What Happens in Vegas  Comedy                 28
9                     Valentine's Day  Comedy                 17

In [97]:
# in one line
movies[movies['Genre']=='Comedy'][['Film','Genre','Rotten Tomatoes %']]

                                  Film   Genre  Rotten Tomatoes %
1                      Youth in Revolt  Comedy                 68
2   You Will Meet a Tall Dark Stranger  Comedy                 43
3                         When in Rome  Comedy                 15
4                What Happens in Vegas  Comedy                 28
9                      Valentine's Day  Comedy                 17
13                      The Ugly Truth  Comedy                 14
16                        The Proposal  Comedy                 43
17              The Invention of Lying  Comedy                 56
18                  The Heartbreak Kid  Comedy                 30
21                    The Back-up Plan  Comedy                 20
24              She's Out of My League  Comedy                 57
25                Sex and the City Two  Comedy                 15
26                  Sex and the City 2  Comedy                 15
27                    Sex and the City  Comedy                 49
30                            Penelope  Comedy                 52
32                  Over Her Dead Body  Comedy                 15
33                  Our Family Wedding  Comedy                 14
36                     No Reservations  Comedy                 39
37  Nick and Norah's Infinite Playlist  Comedy                 73
42      Miss Pettigrew Lives for a Day  Comedy                 78
44                       Marley and Me  Comedy                 63
45                          Mamma Mia!  Comedy                 53
46                          Mamma Mia!  Comedy                 53
49                  Love & Other Drugs  Comedy                 48
50                  Life as We Know It  Comedy                 28
51                      License to Wed  Comedy                  8
52                   Letters to Juliet  Comedy                 40
53                           Leap Year  Comedy                 21
54                          Knocked Up  Comedy                 91
56                         Just Wright  Comedy                 45
58                    It's Complicated  Comedy                 56
59           I Love You Phillip Morris  Comedy                 71
60  High School Musical 3: Senior Year  Comedy                 65
61         He's Just Not That Into You  Comedy                 42
62                     Good Luck Chuck  Comedy                  3
63                  Going the Distance  Comedy                 53
66          Ghosts of Girlfriends Past  Comedy                 27
67                    Four Christmases  Comedy                 26
69                           Enchanted  Comedy                 93
71                           Beginners  Comedy                 84
75                          27 Dresses  Comedy                 40

In [98]:
movies.sample(3)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
17,The Invention of Lying,Comedy,Warner Bros.,47,1.751351,56,$32.40,2009
50,Life as We Know It,Comedy,Independent,62,2.530526,28,$96.16,2010
60,High School Musical 3: Senior Year,Comedy,Disney,76,22.913136,65,$252.04,2008

how many movie released in the year '2007'

In [104]:
movies[movies['Year']==2007]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
7,Waitress,Romance,Independent,67,11.089742,89,$22.18,2007
10,Tyler Perry's Why Did I get Married,Romance,Independent,47,3.724192,46,$55.86,2007
18,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,$127.77,2007
31,P.S. I Love You,Romance,Independent,82,5.103117,21,$153.09,2007
36,No Reservations,Comedy,Warner Bros.,64,3.307180,39,$92.60,2007
40,Music and Lyrics,Romance,Warner Bros.,70,3.647411,63,$145.90,2007
51,License to Wed,Comedy,Warner Bros.,55,1.980206,8,$69.31,2007
54,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
62,Good Luck Chuck,Comedy,Lionsgate,61,2.367685,3,$59.19,2007
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007

In [106]:
movies[movies['Year']==2007].shape

(11, 8)

In [107]:
# no of rows
movies[movies['Year']==2007].shape[0]

11

how many movie have audience score more than 50

In [114]:
movies.dtypes

Film                  object
Genre                 object
Lead Studio           object
Audience score %       int64
Profitability        float64
Rotten Tomatoes %      int64
Worldwide Gross       object
Year                   int64
dtype: object

In [120]:
movies[movies['Audience score %']>80]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
12,Twilight,Romance,Summit,82,10.180027,49,$376.66,2008
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,73,$285.43,2008
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
27,Sex and the City,Comedy,Warner Bros.,81,7.221796,49,$415.25,2008
31,P.S. I Love You,Romance,Independent,82,5.103117,21,$153.09,2007
39,My Week with Marilyn,Drama,The Weinstein Company,84,0.825800,83,$8.26,2011
43,Midnight in Paris,Romence,Sony,84,8.744706,93,$148.66,2011
54,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

how many movie have audience score more than 50 and the lead studio is "Disney"

In [127]:

movies[(movies['Audience score %']>80) & (movies['Lead Studio']=='Disney')]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010

movies where audeince score and rotten tomatoes rating are same

In [130]:
movies[movies['Audience score %']==movies['Rotten Tomatoes %']]

Empty DataFrame
Columns: [Film, Genre, Lead Studio, Audience score %, Profitability, Rotten Tomatoes %, Worldwide Gross, Year]
Index: []

movies where audeince score is greater than rotten tomatoes rating

In [133]:
movies[movies['Audience score %'] > movies['Rotten Tomatoes %']].shape[0]

58

In [138]:
x= movies[movies['Audience score %'] > movies['Rotten Tomatoes %']].shape[0]
y = movies.shape[0]

percentage= (x/y)*100
print(round(percentage))

75

In [139]:
movies.sample(10)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
19,The Duchess,Drama,Paramount,68,3.207850,60,$43.31,2008
10,Tyler Perry's Why Did I get Married,Romance,Independent,47,3.724192,46,$55.86,2007
18,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,$127.77,2007
28,Remember Me,Drama,Summit,70,3.491250,28,$55.86,2010
31,P.S. I Love You,Romance,Independent,82,5.103117,21,$153.09,2007
48,Love Happens,Drama,Universal,40,2.004444,18,$36.08,2009
45,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
12,Twilight,Romance,Summit,82,10.180027,49,$376.66,2008
49,Love & Other Drugs,Comedy,Fox,55,1.817667,48,$54.53,2010
40,Music and Lyrics,Romance,Warner Bros.,70,3.647411,63,$145.90,2007

drama movies which are created by 'Universal' studio

In [142]:
movies[(movies['Genre']=='Drama') &( movies['Lead Studio']=='Universal')]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
48,Love Happens,Drama,Universal,40,2.004444,18,$36.08,2009
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009

In [143]:
movies[(movies['Genre']=='Drama') &( movies['Lead Studio']=='Universal')].shape[0]

2

In [144]:
# using masking
mask1= (movies['Genre']=='Drama')
mask2= (movies['Lead Studio']=='Universal')

movies[mask1 & mask2].head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
48,Love Happens,Drama,Universal,40,2.004444,18,$36.08,2009
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009

Important DataFrame Functions

In [145]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               77 non-null     object
 1   Genre              77 non-null     object
 2   Lead Studio        77 non-null     object
 3   Audience score %   77 non-null     int64
 4   Profitability      77 non-null     float64
 5   Rotten Tomatoes %  77 non-null     int64
 6   Worldwide Gross    77 non-null     object
 7   Year               77 non-null     int64
dtypes: float64(1), int64(3), object(4)
memory usage: 4.9+ KB

In [146]:
movies.describe()

       Audience score %  Profitability  Rotten Tomatoes %         Year
count         77.000000      77.000000          77.000000    77.000000
mean          63.727273       4.599483          46.701299  2009.077922
std           13.657113       8.031990          26.095001     1.354974
min           35.000000       0.000000           3.000000  2007.000000
25%           52.000000       1.751351          26.000000  2008.000000
50%           64.000000       2.642353          45.000000  2009.000000
75%           76.000000       5.103117          64.000000  2010.000000
max           89.000000      66.934000          96.000000  2011.000000

In [151]:
movies['Rotten Tomatoes %'].astype('int64')

0     64
1     68
2     43
3     15
4     28
      ..
72    54
73    89
74    79
75    40
76    87
Name: Rotten Tomatoes %, Length: 77, dtype: int64

In [152]:
movies['Rotten Tomatoes %']=movies['Rotten Tomatoes %'].astype('int64')

In [154]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               77 non-null     object
 1   Genre              77 non-null     object
 2   Lead Studio        77 non-null     object
 3   Audience score %   77 non-null     int64
 4   Profitability      77 non-null     float64
 5   Rotten Tomatoes %  77 non-null     int64
 6   Worldwide Gross    77 non-null     object
 7   Year               77 non-null     int64
dtypes: float64(1), int64(3), object(4)
memory usage: 4.9+ KB

In [156]:
movies['Genre']= movies['Genre'].astype('category')

In [157]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               77 non-null     object
 1   Genre              77 non-null     category
 2   Lead Studio        77 non-null     object
 3   Audience score %   77 non-null     int64
 4   Profitability      77 non-null     float64
 5   Rotten Tomatoes %  77 non-null     int64
 6   Worldwide Gross    77 non-null     object
 7   Year               77 non-null     int64
dtypes: category(1), float64(1), int64(3), object(3)
memory usage: 4.8+ KB