<a href="https://colab.research.google.com/github/rani-sikdar/Python-Data-Structures/blob/main/pydsa_dict_2darray_matrix_sets_maps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Dictionary
Basic Operations
- traverse
- acessing elements
- update
- delete
- properties of dict

In [1]:
dict1 = {
    'name':'rani',
    'age':25,
    'salary': 40000
}

In [2]:
print(dict1)

{'name': 'rani', 'age': 25, 'salary': 40000}

In [3]:
print(dict1['name'])

rani

In [4]:
print(dict1['age'])

25

In [5]:
# update
dict2 = {
    'name':'rani',
    'age':25,
    'salary': 40000
}

dict2['age'] = 26

dict2['salary'] = 50000

print(dict2)

{'name': 'rani', 'age': 26, 'salary': 50000}

In [6]:
dict2['salary']

50000

In [7]:
# delete
dict3 = {
    'name':'rani',
    'age':25,
    'salary': 40000
}

del dict3['name']

dict3

{'age': 25, 'salary': 40000}

In [8]:
dict3.clear()

In [9]:
dict3

{}

In [10]:
del dict3

In [11]:
dict3

NameError: name 'dict3' is not defined

In [13]:
# no duplicate key is allowed in python dictionary
# when duplicate key encountered , the last assignment is applied

In [14]:
dictt = {
    'name': 'abc',
    'age': 30,
    'city': 'xyz'
}

dictt

{'name': 'abc', 'age': 30, 'city': 'xyz'}

In [18]:
print("dictt['name'] : ", dictt['name'])

dictt['name'] :  abc

In [19]:
dict4= {
    ['name']: 'abc',
    'age': 35,
    'city': 'xyz'
        }

print(dict4)

TypeError: unhashable type: 'list'

### 2D Array
Basic Operations
- accesing
- inserting
- updating
- deleting

In [23]:
# accessing

from array import *

T = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]
]

print(T)

print(T[0])

print(T[1][2])

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]
[1, 2, 3, 4]
7

In [24]:
for row in T:
  for column in row:
    print(column, end=" ")
  print()

1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

In [27]:
# insertion

from array import *

T = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]
]

T.insert(2, [21,22,23,24])

for r in T:
  for c in r:
    print(c, end=" ")
  print()

1 2 3 4
5 6 7 8
21 22 23 24
9 10 11 12
13 14 15 16

In [28]:
# updating

print(T)
print("*" * 20)

T[2]= [100, 101, 102]

T[0][3] = 1000

for r in T:
  for c in r:
    print(c, end=" ")
  print()

[[1, 2, 3, 4], [5, 6, 7, 8], [21, 22, 23, 24], [9, 10, 11, 12], [13, 14, 15, 16]]
********************
1 2 3 1000
5 6 7 8
100 101 102
9 10 11 12
13 14 15 16

In [29]:
# deleting

for r in T:
  for c in r:
    print(c, end=" ")
  print()

print("*" * 20)

del T[3]

for r in T:
  for c in r:
    print(c, end=" ")
  print()

1 2 3 1000
5 6 7 8
100 101 102
9 10 11 12
13 14 15 16
********************
1 2 3 1000
5 6 7 8
100 101 102
13 14 15 16

### Matrix
Basic Operations
- accessing matrix
- adding a row
- adding a column
- delete a row
- delete a column
- update a row

In [36]:
from numpy import *

a = array([
    ['Mon',1,2,3,4,5],
    ['Tue',6,7,8,9,10],
    ['Wed',11,12,13,14,15],
    ['Thu',16,17,18,19,20],
    ['Fri',21,22,23,24,25],
    ['Sat',26,27,28,29,30],
    ['Sun',31,32,33,34,35]
])

m = reshape(a, (7,6))
print(m)

[['Mon' '1' '2' '3' '4' '5']
 ['Tue' '6' '7' '8' '9' '10']
 ['Wed' '11' '12' '13' '14' '15']
 ['Thu' '16' '17' '18' '19' '20']
 ['Fri' '21' '22' '23' '24' '25']
 ['Sat' '26' '27' '28' '29' '30']
 ['Sun' '31' '32' '33' '34' '35']]

In [37]:
# accesing a value

# print data for wednesday
print(m[2])

# print data for friday later day readings
print(m[4][4])

['Wed' '11' '12' '13' '14' '15']
24

In [38]:
# adding a row - append()

m_r = append(m, [['Avg',36,37,38,39,40]], 0)

print(m_r)

[['Mon' '1' '2' '3' '4' '5']
 ['Tue' '6' '7' '8' '9' '10']
 ['Wed' '11' '12' '13' '14' '15']
 ['Thu' '16' '17' '18' '19' '20']
 ['Fri' '21' '22' '23' '24' '25']
 ['Sat' '26' '27' '28' '29' '30']
 ['Sun' '31' '32' '33' '34' '35']
 ['Avg' '36' '37' '38' '39' '40']]

In [43]:
# adding a column - insert()

# The number of elements in the list to be inserted must match the number of rows in the matrix.
m_c = insert(m, [6],[[1],[2],[3],[4],[5],[6],[7]],1)

print(m_c)

[['Mon' '1' '2' '3' '4' '5' '1']
 ['Tue' '6' '7' '8' '9' '10' '2']
 ['Wed' '11' '12' '13' '14' '15' '3']
 ['Thu' '16' '17' '18' '19' '20' '4']
 ['Fri' '21' '22' '23' '24' '25' '5']
 ['Sat' '26' '27' '28' '29' '30' '6']
 ['Sun' '31' '32' '33' '34' '35' '7']]

In [44]:
# delete a row - delete()

m = delete(m, [2], 0)
print(m)

[['Mon' '1' '2' '3' '4' '5']
 ['Tue' '6' '7' '8' '9' '10']
 ['Thu' '16' '17' '18' '19' '20']
 ['Fri' '21' '22' '23' '24' '25']
 ['Sat' '26' '27' '28' '29' '30']
 ['Sun' '31' '32' '33' '34' '35']]

In [45]:
# delete a column - delete()

# we have to specify the index of the column. and also the axis value, which is 0 for row and 1 for column

m = delete(m, [2],1)

print(m)

[['Mon' '1' '3' '4' '5']
 ['Tue' '6' '8' '9' '10']
 ['Thu' '16' '18' '19' '20']
 ['Fri' '21' '23' '24' '25']
 ['Sat' '26' '28' '29' '30']
 ['Sun' '31' '33' '34' '35']]

In [46]:
# update a row

print(m)

[['Mon' '1' '3' '4' '5']
 ['Tue' '6' '8' '9' '10']
 ['Thu' '16' '18' '19' '20']
 ['Fri' '21' '23' '24' '25']
 ['Sat' '26' '28' '29' '30']
 ['Sun' '31' '33' '34' '35']]

In [47]:
m[3]= ['Fri', 0, 0, 0, 0]

print(m)

[['Mon' '1' '3' '4' '5']
 ['Tue' '6' '8' '9' '10']
 ['Thu' '16' '18' '19' '20']
 ['Fri' '0' '0' '0' '0']
 ['Sat' '26' '28' '29' '30']
 ['Sun' '31' '33' '34' '35']]

### Sets
unordered collection of items
conditions :
1. elements cannot be duplicates
2. elements are immutable(cannot be modified), but set is mutable
3. no index is attached to elements so indexing or slicing not supported.

Basic operations
- creating a set
- accessing values
- adding items
- removing items
- union of sets
- intersection of sets
- difference of sets
- compare sets

In [48]:
# creating a set

days = set(['mon','tue','wed','thu','fri','sat','sun'])
months = {'jan','feb','mar'}
dates = {21,22,17}

print(days)
print(months)
print(dates)

{'sat', 'wed', 'sun', 'thu', 'tue', 'fri', 'mon'}
{'mar', 'jan', 'feb'}
{17, 21, 22}

In [49]:
print(type(days))
print(type(months))
print(type(dates))

<class 'set'>
<class 'set'>
<class 'set'>

In [50]:
# accessing values in a set

# we cannot access individual values in a set , we can only access all the elements together

for d in days:
  print(d)

sat
wed
sun
thu
tue
fri
mon

In [52]:
# adding items to a set
print(days)

print()

days.add('sun2')

print(days)

{'sat', 'wed', 'sun', 'thu', 'tue', 'fri', 'mon'}

{'sat', 'wed', 'sun', 'thu', 'tue', 'fri', 'sun2', 'mon'}

In [54]:
# removing items from a set

print(days)

print()

days.discard('sun2')

print(days)

{'sat', 'wed', 'sun', 'thu', 'tue', 'fri', 'sun2', 'mon'}

{'sat', 'wed', 'sun', 'thu', 'tue', 'fri', 'mon'}

In [55]:
# union of sets

days1 = set(['mon','tue','wed'])
days2 = set(['wed','thu','fri','sat','sun'])

unionDays = days1 | days2

print(unionDays)

{'sat', 'wed', 'sun', 'thu', 'tue', 'fri', 'mon'}

In [56]:
# intersection of sets

intersectionDays = days1 & days2

print(intersectionDays)

{'wed'}

In [57]:
type(intersectionDays)

set

In [58]:
# differnce of sets

diffDays = days1 - days2
print(diffDays)

{'tue', 'mon'}

In [59]:
days2 - days1

{'fri', 'sat', 'sun', 'thu'}

In [60]:
# compare sets

print(days1 == days2)

False

In [61]:
days1 <= days2

False

### Maps(ChainMap)
manage multiple dictionaries togateher as one unit.

used to search through multiple dictionaries at a time and get proper key-value pair mapping.

ChainMap behave as stack data structure.

Basic operation
- creating a ChainMap
- Map reordering
- updating a map

In [70]:
# creating a ChainMap
import collections

dict1 = {'day1': 'mon', 'day2':'tue'}
dict2 = {'day3': 'wed', 'day1':'thu'}

res = collections.ChainMap(dict1, dict2)

# creating a single dictionary

print(res.maps)

[{'day1': 'mon', 'day2': 'tue'}, {'day3': 'wed', 'day1': 'thu'}]

In [71]:
res

ChainMap({'day1': 'mon', 'day2': 'tue'}, {'day3': 'wed', 'day1': 'thu'})

In [72]:
print('keys = {}'.format(list(res.keys())))

print('values = {}'.format(list(res.values())))

keys = ['day3', 'day1', 'day2']
values = ['wed', 'mon', 'tue']

In [73]:
# print all elements from res

print('elements-')
for key, val in res.items():
  print("{} = {}".format(key, val))
print()

elements-
day3 = wed
day1 = mon
day2 = tue

In [74]:
# find a specific value in the result

print('day3 in res: {}'.format(('day3' in res)))
print('day4 in res: {}'.format(('day4' in res)))

day3 in res: True
day4 in res: False

In [80]:
# Map Reordering

import collections

dict1 = {'day1': 'mon', 'day2':'tue'}
dict2 = {'day3': 'wed', 'day4':'thu'}

res1 = collections.ChainMap(dict1, dict2)  # clubbing dict2 with dict1

print(res1.maps,'\n')

res2 = collections.ChainMap(dict2, dict1)  # clubbing dict1 with dict2

print(res2.maps)

[{'day1': 'mon', 'day2': 'tue'}, {'day3': 'wed', 'day4': 'thu'}]

[{'day3': 'wed', 'day4': 'thu'}, {'day1': 'mon', 'day2': 'tue'}]

In [81]:
# updating map

dict1 = {'day1': 'mon', 'day2':'tue'}
dict2 = {'day3': 'wed', 'day4':'thu'}

res1 = collections.ChainMap(dict1, dict2)  # clubbing dict2 with dict1

print(res1.maps,'\n')

dict2['day4'] = 'fri'

print(res1.maps)

[{'day1': 'mon', 'day2': 'tue'}, {'day3': 'wed', 'day4': 'thu'}]

[{'day1': 'mon', 'day2': 'tue'}, {'day3': 'wed', 'day4': 'fri'}]