<a href="https://colab.research.google.com/github/rani-sikdar/Python-Data-Structures/blob/main/PySpark_full_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pyspark Basic Introduction

In [1]:
import pyspark

In [3]:
import pandas as pd
type(pd.read_csv('/content/CricketTestMatchData.csv'))

pandas.core.frame.DataFrame

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [6]:
spark

In [7]:
df_pyspark=spark.read.csv('/content/CricketTestMatchData.csv')

In [10]:
df_pyspark.head()

Row(_c0='Player', _c1='Span', _c2='Mat', _c3='Inns', _c4='NO', _c5='Runs', _c6='HS', _c7='Ave', _c8='BF', _c9='SR', _c10='100', _c11='50', _c12='0', _c13='4s', _c14='6s')

In [11]:
df_pyspark=spark.read.option('header','true').csv('/content/CricketTestMatchData.csv')

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [14]:
df_pyspark.printSchema()

root
 |-- Player: string (nullable = true)
 |-- Span: string (nullable = true)
 |-- Mat: string (nullable = true)
 |-- Inns: string (nullable = true)
 |-- NO: string (nullable = true)
 |-- Runs: string (nullable = true)
 |-- HS: string (nullable = true)
 |-- Ave: string (nullable = true)
 |-- BF: string (nullable = true)
 |-- SR: string (nullable = true)
 |-- 100: string (nullable = true)
 |-- 50: string (nullable = true)
 |-- 0: string (nullable = true)
 |-- 4s: string (nullable = true)
 |-- 6s: string (nullable = true)

- PySpark Dataframe
- Reading The Dataset
- Checking the Datatypes of the Column(Schema)
- Selecting Columns And Indexing
- Check Describe option similar to Pandas
- Adding Columns
- Dropping columns
- Renaming Columns

In [15]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [16]:
spark

In [29]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv('/content/CricketTestMatchData.csv',inferSchema=True)

In [18]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Player: string (nullable = true)
 |-- Span: string (nullable = true)
 |-- Mat: string (nullable = true)
 |-- Inns: integer (nullable = true)
 |-- NO: integer (nullable = true)
 |-- Runs: integer (nullable = true)
 |-- HS: string (nullable = true)
 |-- Ave: double (nullable = true)
 |-- BF: string (nullable = true)
 |-- SR: double (nullable = true)
 |-- 100: integer (nullable = true)
 |-- 50: integer (nullable = true)
 |-- 0: integer (nullable = true)
 |-- 4s: integer (nullable = true)
 |-- 6s: integer (nullable = true)

In [24]:
df_pyspark=spark.read.csv('/content/CricketTestMatchData.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|             Player|     Span| Mat|Inns| NO| Runs|  HS|  Ave|   BF|   SR|100| 50|  0|  4s| 6s|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|   DG Bradman (AUS)|1928-1948|  52|  80| 10| 6996| 334|99.94|9800+| 58.6| 29| 13|  7| 626|  6|
|     AC Voges (AUS)|2015-2016|  20|  31|  7| 1485|269*|61.87| 2667|55.68|  5|  4|  2| 186|  5|
|    RG Pollock (SA)|1963-1970|  23|  41|  4| 2256| 274|60.97|1707+|54.48|  7| 11|  1| 246| 11|
|    GA Headley (WI)|1930-1954|  22|  40|  4| 2190|270*|60.83| 416+| 56.0| 10|  5|  2| 104|  1|
|  H Sutcliffe (ENG)|1924-1935|  54|  84|  9| 4555| 194|60.73|6558+|34.59| 16| 23|  2| 202|  6|
|    E Paynter (ENG)|1931-1939|  20|  31|  5| 1540| 243|59.23|1288+|45.88|  4|  7|  3| 125|  4|
|KF Barrington (ENG)|1955-1968|  82| 131| 15| 6806| 256|58.67|4957+|42.42| 20| 35|  5| 591| 27|
|     ED Weekes (WI)|1948-1958|  48|  81|  5| 4455| 207|58.61| NULL|  0.0| 15| 19|  6| 258|  2|
|     HC Brook (ENG)|2022-2024|  24|  40|  1| 2281| 317|58.48| 2581|88.37|  8| 10|  2| 246| 37|
|   WR Hammond (ENG)|1927-1947|  85| 140| 16| 7249|336*|58.45|7491+|38.07| 22| 24|  4| 419| 27|
|     GS Sobers (WI)|1954-1974|  93| 160| 21| 8032|365*|57.78|4063+|53.58| 26| 30| 12| 593| 32|
| KC Sangakkara (SL)|2000-2015| 134| 233| 17|12400| 319| 57.4|22882|54.19| 38| 52| 11|1491| 51|
|     JB Hobbs (ENG)|1908-1930|  61| 102|  7| 5410| 211|56.94|5363+|46.22| 15| 28|  4| 276|  8|
|    CL Walcott (WI)|1948-1960|  44|  74|  7| 3798| 220|56.68| NULL|  0.0| 15| 14|  1| 107| 11|
|     L Hutton (ENG)|1937-1955|  79| 138| 15| 6971| 364|56.67|2844+|39.34| 19| 33|  5| 358|  7|
|    SPD Smith (AUS)|2010-2024|113*| 201| 25| 9949| 239|56.52|18564|53.59| 34| 41| 11|1089| 57|
| JH Kallis (ICC/SA)|1995-2013| 166| 280| 40|13289| 224|55.37|28903|45.97| 45| 58| 16|1488| 97|
| GE Tyldesley (ENG)|1921-1929|  14|  20|  2|  990| 122| 55.0| 178+|29.21|  3|  6|  2|  37|  2|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
only showing top 20 rows

In [26]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Player: string (nullable = true)
 |-- Span: string (nullable = true)
 |-- Mat: string (nullable = true)
 |-- Inns: integer (nullable = true)
 |-- NO: integer (nullable = true)
 |-- Runs: integer (nullable = true)
 |-- HS: string (nullable = true)
 |-- Ave: double (nullable = true)
 |-- BF: string (nullable = true)
 |-- SR: double (nullable = true)
 |-- 100: integer (nullable = true)
 |-- 50: integer (nullable = true)
 |-- 0: integer (nullable = true)
 |-- 4s: integer (nullable = true)
 |-- 6s: integer (nullable = true)

In [27]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [30]:
df_pyspark.head()

Row(Player='DG Bradman (AUS)', Span='1928-1948', Mat='52', Inns=80, NO=10, Runs=6996, HS='334', Ave=99.94, BF='9800+', SR=58.6, 100=29, 50=13, 0=7, 4s=626, 6s=6)

In [31]:
df_pyspark.show()

+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|             Player|     Span| Mat|Inns| NO| Runs|  HS|  Ave|   BF|   SR|100| 50|  0|  4s| 6s|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|   DG Bradman (AUS)|1928-1948|  52|  80| 10| 6996| 334|99.94|9800+| 58.6| 29| 13|  7| 626|  6|
|     AC Voges (AUS)|2015-2016|  20|  31|  7| 1485|269*|61.87| 2667|55.68|  5|  4|  2| 186|  5|
|    RG Pollock (SA)|1963-1970|  23|  41|  4| 2256| 274|60.97|1707+|54.48|  7| 11|  1| 246| 11|
|    GA Headley (WI)|1930-1954|  22|  40|  4| 2190|270*|60.83| 416+| 56.0| 10|  5|  2| 104|  1|
|  H Sutcliffe (ENG)|1924-1935|  54|  84|  9| 4555| 194|60.73|6558+|34.59| 16| 23|  2| 202|  6|
|    E Paynter (ENG)|1931-1939|  20|  31|  5| 1540| 243|59.23|1288+|45.88|  4|  7|  3| 125|  4|
|KF Barrington (ENG)|1955-1968|  82| 131| 15| 6806| 256|58.67|4957+|42.42| 20| 35|  5| 591| 27|
|     ED Weekes (WI)|1948-1958|  48|  81|  5| 4455| 207|58.61| NULL|  0.0| 15| 19|  6| 258|  2|
|     HC Brook (ENG)|2022-2024|  24|  40|  1| 2281| 317|58.48| 2581|88.37|  8| 10|  2| 246| 37|
|   WR Hammond (ENG)|1927-1947|  85| 140| 16| 7249|336*|58.45|7491+|38.07| 22| 24|  4| 419| 27|
|     GS Sobers (WI)|1954-1974|  93| 160| 21| 8032|365*|57.78|4063+|53.58| 26| 30| 12| 593| 32|
| KC Sangakkara (SL)|2000-2015| 134| 233| 17|12400| 319| 57.4|22882|54.19| 38| 52| 11|1491| 51|
|     JB Hobbs (ENG)|1908-1930|  61| 102|  7| 5410| 211|56.94|5363+|46.22| 15| 28|  4| 276|  8|
|    CL Walcott (WI)|1948-1960|  44|  74|  7| 3798| 220|56.68| NULL|  0.0| 15| 14|  1| 107| 11|
|     L Hutton (ENG)|1937-1955|  79| 138| 15| 6971| 364|56.67|2844+|39.34| 19| 33|  5| 358|  7|
|    SPD Smith (AUS)|2010-2024|113*| 201| 25| 9949| 239|56.52|18564|53.59| 34| 41| 11|1089| 57|
| JH Kallis (ICC/SA)|1995-2013| 166| 280| 40|13289| 224|55.37|28903|45.97| 45| 58| 16|1488| 97|
| GE Tyldesley (ENG)|1921-1929|  14|  20|  2|  990| 122| 55.0| 178+|29.21|  3|  6|  2|  37|  2|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
only showing top 20 rows

In [34]:
df_pyspark.select(['Player','Span']).show()

+-------------------+---------+
|             Player|     Span|
+-------------------+---------+
|   DG Bradman (AUS)|1928-1948|
|     AC Voges (AUS)|2015-2016|
|    RG Pollock (SA)|1963-1970|
|    GA Headley (WI)|1930-1954|
|  H Sutcliffe (ENG)|1924-1935|
|    E Paynter (ENG)|1931-1939|
|KF Barrington (ENG)|1955-1968|
|     ED Weekes (WI)|1948-1958|
|     HC Brook (ENG)|2022-2024|
|   WR Hammond (ENG)|1927-1947|
|     GS Sobers (WI)|1954-1974|
| KC Sangakkara (SL)|2000-2015|
|     JB Hobbs (ENG)|1908-1930|
|    CL Walcott (WI)|1948-1960|
|     L Hutton (ENG)|1937-1955|
|    SPD Smith (AUS)|2010-2024|
| JH Kallis (ICC/SA)|1995-2013|
| GE Tyldesley (ENG)|1921-1929|
| Saud Shakeel (PAK)|2022-2024|
| Saud Shakeel (PAK)|2022-2024|
+-------------------+---------+
only showing top 20 rows

In [35]:
df_pyspark['Player']

Column<'Player'>

In [36]:
df_pyspark.dtypes

[('Player', 'string'),
 ('Span', 'string'),
 ('Mat', 'string'),
 ('Inns', 'int'),
 ('NO', 'int'),
 ('Runs', 'int'),
 ('HS', 'string'),
 ('Ave', 'double'),
 ('BF', 'string'),
 ('SR', 'double'),
 ('100', 'int'),
 ('50', 'int'),
 ('0', 'int'),
 ('4s', 'int'),
 ('6s', 'int')]

In [37]:
df_pyspark.describe().show()

+-------+-----------------+---------+-----------------+-----------------+------------------+------------------+------------------+------------------+----------------+------------------+------------------+------------------+-----------------+-----------------+------------------+
|summary|           Player|     Span|              Mat|             Inns|                NO|              Runs|                HS|               Ave|              BF|                SR|               100|                50|                0|               4s|                6s|
+-------+-----------------+---------+-----------------+-----------------+------------------+------------------+------------------+------------------+----------------+------------------+------------------+------------------+-----------------+-----------------+------------------+
|  count|               65|       65|               65|               65|                65|                65|                65|                65|              61|                65|                65|                65|               65|               65|                65|
|   mean|             NULL|     NULL|79.27868852459017|            130.4|13.661538461538461| 6170.615384615385|254.21428571428572|53.542615384615374|         14894.0| 46.77230769230769| 18.56923076923077|27.615384615384617|7.430769230769231|622.3230769230769|26.415384615384614|
| stddev|             NULL|     NULL|51.33521570603069|87.92695832337202|11.194693110851848|4094.6532426915733| 57.79886728330799|7.0147334404369595|8703.46276736203|16.361553522017587|12.585916274214545|19.059686110095956|5.550814216089245|526.7435069513289|27.378077628193417|
|    min|   A Flower (ZIM)|1893-1905|              103|               20|                 1|               990|               122|              48.0|           10441|               0.0|                 1|                 3|                1|               37|                 0|
|    max|Younis Khan (PAK)|2023-2024|               93|              329|                49|             15921|              400*|             99.94|           9800+|             88.37|                51|                68|               22|             2058|                97|
+-------+-----------------+---------+-----------------+-----------------+------------------+------------------+------------------+------------------+----------------+------------------+------------------+------------------+-----------------+-----------------+------------------+

In [38]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 5 Matches',df_pyspark['Mat']+2)

In [39]:
df_pyspark.show()

+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+--------------------------+
|             Player|     Span| Mat|Inns| NO| Runs|  HS|  Ave|   BF|   SR|100| 50|  0|  4s| 6s|Experience After 5 Matches|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+--------------------------+
|   DG Bradman (AUS)|1928-1948|  52|  80| 10| 6996| 334|99.94|9800+| 58.6| 29| 13|  7| 626|  6|                      54.0|
|     AC Voges (AUS)|2015-2016|  20|  31|  7| 1485|269*|61.87| 2667|55.68|  5|  4|  2| 186|  5|                      22.0|
|    RG Pollock (SA)|1963-1970|  23|  41|  4| 2256| 274|60.97|1707+|54.48|  7| 11|  1| 246| 11|                      25.0|
|    GA Headley (WI)|1930-1954|  22|  40|  4| 2190|270*|60.83| 416+| 56.0| 10|  5|  2| 104|  1|                      24.0|
|  H Sutcliffe (ENG)|1924-1935|  54|  84|  9| 4555| 194|60.73|6558+|34.59| 16| 23|  2| 202|  6|                      56.0|
|    E Paynter (ENG)|1931-1939|  20|  31|  5| 1540| 243|59.23|1288+|45.88|  4|  7|  3| 125|  4|                      22.0|
|KF Barrington (ENG)|1955-1968|  82| 131| 15| 6806| 256|58.67|4957+|42.42| 20| 35|  5| 591| 27|                      84.0|
|     ED Weekes (WI)|1948-1958|  48|  81|  5| 4455| 207|58.61| NULL|  0.0| 15| 19|  6| 258|  2|                      50.0|
|     HC Brook (ENG)|2022-2024|  24|  40|  1| 2281| 317|58.48| 2581|88.37|  8| 10|  2| 246| 37|                      26.0|
|   WR Hammond (ENG)|1927-1947|  85| 140| 16| 7249|336*|58.45|7491+|38.07| 22| 24|  4| 419| 27|                      87.0|
|     GS Sobers (WI)|1954-1974|  93| 160| 21| 8032|365*|57.78|4063+|53.58| 26| 30| 12| 593| 32|                      95.0|
| KC Sangakkara (SL)|2000-2015| 134| 233| 17|12400| 319| 57.4|22882|54.19| 38| 52| 11|1491| 51|                     136.0|
|     JB Hobbs (ENG)|1908-1930|  61| 102|  7| 5410| 211|56.94|5363+|46.22| 15| 28|  4| 276|  8|                      63.0|
|    CL Walcott (WI)|1948-1960|  44|  74|  7| 3798| 220|56.68| NULL|  0.0| 15| 14|  1| 107| 11|                      46.0|
|     L Hutton (ENG)|1937-1955|  79| 138| 15| 6971| 364|56.67|2844+|39.34| 19| 33|  5| 358|  7|                      81.0|
|    SPD Smith (AUS)|2010-2024|113*| 201| 25| 9949| 239|56.52|18564|53.59| 34| 41| 11|1089| 57|                      NULL|
| JH Kallis (ICC/SA)|1995-2013| 166| 280| 40|13289| 224|55.37|28903|45.97| 45| 58| 16|1488| 97|                     168.0|
| GE Tyldesley (ENG)|1921-1929|  14|  20|  2|  990| 122| 55.0| 178+|29.21|  3|  6|  2|  37|  2|                      16.0|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|                      NULL|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|                      NULL|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+--------------------------+
only showing top 20 rows

In [40]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 5 Matches')

In [41]:
df_pyspark.show()

+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|             Player|     Span| Mat|Inns| NO| Runs|  HS|  Ave|   BF|   SR|100| 50|  0|  4s| 6s|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|   DG Bradman (AUS)|1928-1948|  52|  80| 10| 6996| 334|99.94|9800+| 58.6| 29| 13|  7| 626|  6|
|     AC Voges (AUS)|2015-2016|  20|  31|  7| 1485|269*|61.87| 2667|55.68|  5|  4|  2| 186|  5|
|    RG Pollock (SA)|1963-1970|  23|  41|  4| 2256| 274|60.97|1707+|54.48|  7| 11|  1| 246| 11|
|    GA Headley (WI)|1930-1954|  22|  40|  4| 2190|270*|60.83| 416+| 56.0| 10|  5|  2| 104|  1|
|  H Sutcliffe (ENG)|1924-1935|  54|  84|  9| 4555| 194|60.73|6558+|34.59| 16| 23|  2| 202|  6|
|    E Paynter (ENG)|1931-1939|  20|  31|  5| 1540| 243|59.23|1288+|45.88|  4|  7|  3| 125|  4|
|KF Barrington (ENG)|1955-1968|  82| 131| 15| 6806| 256|58.67|4957+|42.42| 20| 35|  5| 591| 27|
|     ED Weekes (WI)|1948-1958|  48|  81|  5| 4455| 207|58.61| NULL|  0.0| 15| 19|  6| 258|  2|
|     HC Brook (ENG)|2022-2024|  24|  40|  1| 2281| 317|58.48| 2581|88.37|  8| 10|  2| 246| 37|
|   WR Hammond (ENG)|1927-1947|  85| 140| 16| 7249|336*|58.45|7491+|38.07| 22| 24|  4| 419| 27|
|     GS Sobers (WI)|1954-1974|  93| 160| 21| 8032|365*|57.78|4063+|53.58| 26| 30| 12| 593| 32|
| KC Sangakkara (SL)|2000-2015| 134| 233| 17|12400| 319| 57.4|22882|54.19| 38| 52| 11|1491| 51|
|     JB Hobbs (ENG)|1908-1930|  61| 102|  7| 5410| 211|56.94|5363+|46.22| 15| 28|  4| 276|  8|
|    CL Walcott (WI)|1948-1960|  44|  74|  7| 3798| 220|56.68| NULL|  0.0| 15| 14|  1| 107| 11|
|     L Hutton (ENG)|1937-1955|  79| 138| 15| 6971| 364|56.67|2844+|39.34| 19| 33|  5| 358|  7|
|    SPD Smith (AUS)|2010-2024|113*| 201| 25| 9949| 239|56.52|18564|53.59| 34| 41| 11|1089| 57|
| JH Kallis (ICC/SA)|1995-2013| 166| 280| 40|13289| 224|55.37|28903|45.97| 45| 58| 16|1488| 97|
| GE Tyldesley (ENG)|1921-1929|  14|  20|  2|  990| 122| 55.0| 178+|29.21|  3|  6|  2|  37|  2|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
only showing top 20 rows

In [42]:
### Rename the columns
df_pyspark.withColumnRenamed('Player','Player Name').show()

+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|        Player Name|     Span| Mat|Inns| NO| Runs|  HS|  Ave|   BF|   SR|100| 50|  0|  4s| 6s|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|   DG Bradman (AUS)|1928-1948|  52|  80| 10| 6996| 334|99.94|9800+| 58.6| 29| 13|  7| 626|  6|
|     AC Voges (AUS)|2015-2016|  20|  31|  7| 1485|269*|61.87| 2667|55.68|  5|  4|  2| 186|  5|
|    RG Pollock (SA)|1963-1970|  23|  41|  4| 2256| 274|60.97|1707+|54.48|  7| 11|  1| 246| 11|
|    GA Headley (WI)|1930-1954|  22|  40|  4| 2190|270*|60.83| 416+| 56.0| 10|  5|  2| 104|  1|
|  H Sutcliffe (ENG)|1924-1935|  54|  84|  9| 4555| 194|60.73|6558+|34.59| 16| 23|  2| 202|  6|
|    E Paynter (ENG)|1931-1939|  20|  31|  5| 1540| 243|59.23|1288+|45.88|  4|  7|  3| 125|  4|
|KF Barrington (ENG)|1955-1968|  82| 131| 15| 6806| 256|58.67|4957+|42.42| 20| 35|  5| 591| 27|
|     ED Weekes (WI)|1948-1958|  48|  81|  5| 4455| 207|58.61| NULL|  0.0| 15| 19|  6| 258|  2|
|     HC Brook (ENG)|2022-2024|  24|  40|  1| 2281| 317|58.48| 2581|88.37|  8| 10|  2| 246| 37|
|   WR Hammond (ENG)|1927-1947|  85| 140| 16| 7249|336*|58.45|7491+|38.07| 22| 24|  4| 419| 27|
|     GS Sobers (WI)|1954-1974|  93| 160| 21| 8032|365*|57.78|4063+|53.58| 26| 30| 12| 593| 32|
| KC Sangakkara (SL)|2000-2015| 134| 233| 17|12400| 319| 57.4|22882|54.19| 38| 52| 11|1491| 51|
|     JB Hobbs (ENG)|1908-1930|  61| 102|  7| 5410| 211|56.94|5363+|46.22| 15| 28|  4| 276|  8|
|    CL Walcott (WI)|1948-1960|  44|  74|  7| 3798| 220|56.68| NULL|  0.0| 15| 14|  1| 107| 11|
|     L Hutton (ENG)|1937-1955|  79| 138| 15| 6971| 364|56.67|2844+|39.34| 19| 33|  5| 358|  7|
|    SPD Smith (AUS)|2010-2024|113*| 201| 25| 9949| 239|56.52|18564|53.59| 34| 41| 11|1089| 57|
| JH Kallis (ICC/SA)|1995-2013| 166| 280| 40|13289| 224|55.37|28903|45.97| 45| 58| 16|1488| 97|
| GE Tyldesley (ENG)|1921-1929|  14|  20|  2|  990| 122| 55.0| 178+|29.21|  3|  6|  2|  37|  2|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
only showing top 20 rows

Pyspark Handling Missing Values
- Dropping Columns
- Dropping Rows
- Various Parameter In Dropping functionalities
- Handling Missing values by Mean, MEdian And Mode

In [43]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [44]:
df_pyspark=spark.read.csv('/content/CricketTestMatchData.csv',header=True,inferSchema=True)

In [45]:
df_pyspark.printSchema()

root
 |-- Player: string (nullable = true)
 |-- Span: string (nullable = true)
 |-- Mat: string (nullable = true)
 |-- Inns: integer (nullable = true)
 |-- NO: integer (nullable = true)
 |-- Runs: integer (nullable = true)
 |-- HS: string (nullable = true)
 |-- Ave: double (nullable = true)
 |-- BF: string (nullable = true)
 |-- SR: double (nullable = true)
 |-- 100: integer (nullable = true)
 |-- 50: integer (nullable = true)
 |-- 0: integer (nullable = true)
 |-- 4s: integer (nullable = true)
 |-- 6s: integer (nullable = true)

In [46]:
df_pyspark.show()

+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|             Player|     Span| Mat|Inns| NO| Runs|  HS|  Ave|   BF|   SR|100| 50|  0|  4s| 6s|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|   DG Bradman (AUS)|1928-1948|  52|  80| 10| 6996| 334|99.94|9800+| 58.6| 29| 13|  7| 626|  6|
|     AC Voges (AUS)|2015-2016|  20|  31|  7| 1485|269*|61.87| 2667|55.68|  5|  4|  2| 186|  5|
|    RG Pollock (SA)|1963-1970|  23|  41|  4| 2256| 274|60.97|1707+|54.48|  7| 11|  1| 246| 11|
|    GA Headley (WI)|1930-1954|  22|  40|  4| 2190|270*|60.83| 416+| 56.0| 10|  5|  2| 104|  1|
|  H Sutcliffe (ENG)|1924-1935|  54|  84|  9| 4555| 194|60.73|6558+|34.59| 16| 23|  2| 202|  6|
|    E Paynter (ENG)|1931-1939|  20|  31|  5| 1540| 243|59.23|1288+|45.88|  4|  7|  3| 125|  4|
|KF Barrington (ENG)|1955-1968|  82| 131| 15| 6806| 256|58.67|4957+|42.42| 20| 35|  5| 591| 27|
|     ED Weekes (WI)|1948-1958|  48|  81|  5| 4455| 207|58.61| NULL|  0.0| 15| 19|  6| 258|  2|
|     HC Brook (ENG)|2022-2024|  24|  40|  1| 2281| 317|58.48| 2581|88.37|  8| 10|  2| 246| 37|
|   WR Hammond (ENG)|1927-1947|  85| 140| 16| 7249|336*|58.45|7491+|38.07| 22| 24|  4| 419| 27|
|     GS Sobers (WI)|1954-1974|  93| 160| 21| 8032|365*|57.78|4063+|53.58| 26| 30| 12| 593| 32|
| KC Sangakkara (SL)|2000-2015| 134| 233| 17|12400| 319| 57.4|22882|54.19| 38| 52| 11|1491| 51|
|     JB Hobbs (ENG)|1908-1930|  61| 102|  7| 5410| 211|56.94|5363+|46.22| 15| 28|  4| 276|  8|
|    CL Walcott (WI)|1948-1960|  44|  74|  7| 3798| 220|56.68| NULL|  0.0| 15| 14|  1| 107| 11|
|     L Hutton (ENG)|1937-1955|  79| 138| 15| 6971| 364|56.67|2844+|39.34| 19| 33|  5| 358|  7|
|    SPD Smith (AUS)|2010-2024|113*| 201| 25| 9949| 239|56.52|18564|53.59| 34| 41| 11|1089| 57|
| JH Kallis (ICC/SA)|1995-2013| 166| 280| 40|13289| 224|55.37|28903|45.97| 45| 58| 16|1488| 97|
| GE Tyldesley (ENG)|1921-1929|  14|  20|  2|  990| 122| 55.0| 178+|29.21|  3|  6|  2|  37|  2|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
only showing top 20 rows

In [48]:
##drop the columns
df_pyspark.drop('Player').show()

+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|     Span| Mat|Inns| NO| Runs|  HS|  Ave|   BF|   SR|100| 50|  0|  4s| 6s|
+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|1928-1948|  52|  80| 10| 6996| 334|99.94|9800+| 58.6| 29| 13|  7| 626|  6|
|2015-2016|  20|  31|  7| 1485|269*|61.87| 2667|55.68|  5|  4|  2| 186|  5|
|1963-1970|  23|  41|  4| 2256| 274|60.97|1707+|54.48|  7| 11|  1| 246| 11|
|1930-1954|  22|  40|  4| 2190|270*|60.83| 416+| 56.0| 10|  5|  2| 104|  1|
|1924-1935|  54|  84|  9| 4555| 194|60.73|6558+|34.59| 16| 23|  2| 202|  6|
|1931-1939|  20|  31|  5| 1540| 243|59.23|1288+|45.88|  4|  7|  3| 125|  4|
|1955-1968|  82| 131| 15| 6806| 256|58.67|4957+|42.42| 20| 35|  5| 591| 27|
|1948-1958|  48|  81|  5| 4455| 207|58.61| NULL|  0.0| 15| 19|  6| 258|  2|
|2022-2024|  24|  40|  1| 2281| 317|58.48| 2581|88.37|  8| 10|  2| 246| 37|
|1927-1947|  85| 140| 16| 7249|336*|58.45|7491+|38.07| 22| 24|  4| 419| 27|
|1954-1974|  93| 160| 21| 8032|365*|57.78|4063+|53.58| 26| 30| 12| 593| 32|
|2000-2015| 134| 233| 17|12400| 319| 57.4|22882|54.19| 38| 52| 11|1491| 51|
|1908-1930|  61| 102|  7| 5410| 211|56.94|5363+|46.22| 15| 28|  4| 276|  8|
|1948-1960|  44|  74|  7| 3798| 220|56.68| NULL|  0.0| 15| 14|  1| 107| 11|
|1937-1955|  79| 138| 15| 6971| 364|56.67|2844+|39.34| 19| 33|  5| 358|  7|
|2010-2024|113*| 201| 25| 9949| 239|56.52|18564|53.59| 34| 41| 11|1089| 57|
|1995-2013| 166| 280| 40|13289| 224|55.37|28903|45.97| 45| 58| 16|1488| 97|
|1921-1929|  14|  20|  2|  990| 122| 55.0| 178+|29.21|  3|  6|  2|  37|  2|
|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
only showing top 20 rows

In [49]:
df_pyspark.show()

+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|             Player|     Span| Mat|Inns| NO| Runs|  HS|  Ave|   BF|   SR|100| 50|  0|  4s| 6s|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|   DG Bradman (AUS)|1928-1948|  52|  80| 10| 6996| 334|99.94|9800+| 58.6| 29| 13|  7| 626|  6|
|     AC Voges (AUS)|2015-2016|  20|  31|  7| 1485|269*|61.87| 2667|55.68|  5|  4|  2| 186|  5|
|    RG Pollock (SA)|1963-1970|  23|  41|  4| 2256| 274|60.97|1707+|54.48|  7| 11|  1| 246| 11|
|    GA Headley (WI)|1930-1954|  22|  40|  4| 2190|270*|60.83| 416+| 56.0| 10|  5|  2| 104|  1|
|  H Sutcliffe (ENG)|1924-1935|  54|  84|  9| 4555| 194|60.73|6558+|34.59| 16| 23|  2| 202|  6|
|    E Paynter (ENG)|1931-1939|  20|  31|  5| 1540| 243|59.23|1288+|45.88|  4|  7|  3| 125|  4|
|KF Barrington (ENG)|1955-1968|  82| 131| 15| 6806| 256|58.67|4957+|42.42| 20| 35|  5| 591| 27|
|     ED Weekes (WI)|1948-1958|  48|  81|  5| 4455| 207|58.61| NULL|  0.0| 15| 19|  6| 258|  2|
|     HC Brook (ENG)|2022-2024|  24|  40|  1| 2281| 317|58.48| 2581|88.37|  8| 10|  2| 246| 37|
|   WR Hammond (ENG)|1927-1947|  85| 140| 16| 7249|336*|58.45|7491+|38.07| 22| 24|  4| 419| 27|
|     GS Sobers (WI)|1954-1974|  93| 160| 21| 8032|365*|57.78|4063+|53.58| 26| 30| 12| 593| 32|
| KC Sangakkara (SL)|2000-2015| 134| 233| 17|12400| 319| 57.4|22882|54.19| 38| 52| 11|1491| 51|
|     JB Hobbs (ENG)|1908-1930|  61| 102|  7| 5410| 211|56.94|5363+|46.22| 15| 28|  4| 276|  8|
|    CL Walcott (WI)|1948-1960|  44|  74|  7| 3798| 220|56.68| NULL|  0.0| 15| 14|  1| 107| 11|
|     L Hutton (ENG)|1937-1955|  79| 138| 15| 6971| 364|56.67|2844+|39.34| 19| 33|  5| 358|  7|
|    SPD Smith (AUS)|2010-2024|113*| 201| 25| 9949| 239|56.52|18564|53.59| 34| 41| 11|1089| 57|
| JH Kallis (ICC/SA)|1995-2013| 166| 280| 40|13289| 224|55.37|28903|45.97| 45| 58| 16|1488| 97|
| GE Tyldesley (ENG)|1921-1929|  14|  20|  2|  990| 122| 55.0| 178+|29.21|  3|  6|  2|  37|  2|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
only showing top 20 rows

In [50]:
df_pyspark.na.drop().show()

+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|             Player|     Span| Mat|Inns| NO| Runs|  HS|  Ave|   BF|   SR|100| 50|  0|  4s| 6s|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|   DG Bradman (AUS)|1928-1948|  52|  80| 10| 6996| 334|99.94|9800+| 58.6| 29| 13|  7| 626|  6|
|     AC Voges (AUS)|2015-2016|  20|  31|  7| 1485|269*|61.87| 2667|55.68|  5|  4|  2| 186|  5|
|    RG Pollock (SA)|1963-1970|  23|  41|  4| 2256| 274|60.97|1707+|54.48|  7| 11|  1| 246| 11|
|    GA Headley (WI)|1930-1954|  22|  40|  4| 2190|270*|60.83| 416+| 56.0| 10|  5|  2| 104|  1|
|  H Sutcliffe (ENG)|1924-1935|  54|  84|  9| 4555| 194|60.73|6558+|34.59| 16| 23|  2| 202|  6|
|    E Paynter (ENG)|1931-1939|  20|  31|  5| 1540| 243|59.23|1288+|45.88|  4|  7|  3| 125|  4|
|KF Barrington (ENG)|1955-1968|  82| 131| 15| 6806| 256|58.67|4957+|42.42| 20| 35|  5| 591| 27|
|     HC Brook (ENG)|2022-2024|  24|  40|  1| 2281| 317|58.48| 2581|88.37|  8| 10|  2| 246| 37|
|   WR Hammond (ENG)|1927-1947|  85| 140| 16| 7249|336*|58.45|7491+|38.07| 22| 24|  4| 419| 27|
|     GS Sobers (WI)|1954-1974|  93| 160| 21| 8032|365*|57.78|4063+|53.58| 26| 30| 12| 593| 32|
| KC Sangakkara (SL)|2000-2015| 134| 233| 17|12400| 319| 57.4|22882|54.19| 38| 52| 11|1491| 51|
|     JB Hobbs (ENG)|1908-1930|  61| 102|  7| 5410| 211|56.94|5363+|46.22| 15| 28|  4| 276|  8|
|     L Hutton (ENG)|1937-1955|  79| 138| 15| 6971| 364|56.67|2844+|39.34| 19| 33|  5| 358|  7|
|    SPD Smith (AUS)|2010-2024|113*| 201| 25| 9949| 239|56.52|18564|53.59| 34| 41| 11|1089| 57|
| JH Kallis (ICC/SA)|1995-2013| 166| 280| 40|13289| 224|55.37|28903|45.97| 45| 58| 16|1488| 97|
| GE Tyldesley (ENG)|1921-1929|  14|  20|  2|  990| 122| 55.0| 178+|29.21|  3|  6|  2|  37|  2|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
| KS Williamson (NZ)|2010-2024| 105| 186| 17| 9276| 251|54.88|17913|51.78| 33| 37| 11|1031| 27|
|  YBK Jaiswal (IND)|2023-2024| 18*|  33|  2| 1682|214*|54.25| 2469|68.12|  4|  9|  3| 194| 39|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
only showing top 20 rows

In [52]:
### any & how
# how can contain two values - 'any' 'all'
# any - any null values then drop
# all - if we have all values as null then drop
df_pyspark.na.drop(how="any").show()

+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|             Player|     Span| Mat|Inns| NO| Runs|  HS|  Ave|   BF|   SR|100| 50|  0|  4s| 6s|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|   DG Bradman (AUS)|1928-1948|  52|  80| 10| 6996| 334|99.94|9800+| 58.6| 29| 13|  7| 626|  6|
|     AC Voges (AUS)|2015-2016|  20|  31|  7| 1485|269*|61.87| 2667|55.68|  5|  4|  2| 186|  5|
|    RG Pollock (SA)|1963-1970|  23|  41|  4| 2256| 274|60.97|1707+|54.48|  7| 11|  1| 246| 11|
|    GA Headley (WI)|1930-1954|  22|  40|  4| 2190|270*|60.83| 416+| 56.0| 10|  5|  2| 104|  1|
|  H Sutcliffe (ENG)|1924-1935|  54|  84|  9| 4555| 194|60.73|6558+|34.59| 16| 23|  2| 202|  6|
|    E Paynter (ENG)|1931-1939|  20|  31|  5| 1540| 243|59.23|1288+|45.88|  4|  7|  3| 125|  4|
|KF Barrington (ENG)|1955-1968|  82| 131| 15| 6806| 256|58.67|4957+|42.42| 20| 35|  5| 591| 27|
|     HC Brook (ENG)|2022-2024|  24|  40|  1| 2281| 317|58.48| 2581|88.37|  8| 10|  2| 246| 37|
|   WR Hammond (ENG)|1927-1947|  85| 140| 16| 7249|336*|58.45|7491+|38.07| 22| 24|  4| 419| 27|
|     GS Sobers (WI)|1954-1974|  93| 160| 21| 8032|365*|57.78|4063+|53.58| 26| 30| 12| 593| 32|
| KC Sangakkara (SL)|2000-2015| 134| 233| 17|12400| 319| 57.4|22882|54.19| 38| 52| 11|1491| 51|
|     JB Hobbs (ENG)|1908-1930|  61| 102|  7| 5410| 211|56.94|5363+|46.22| 15| 28|  4| 276|  8|
|     L Hutton (ENG)|1937-1955|  79| 138| 15| 6971| 364|56.67|2844+|39.34| 19| 33|  5| 358|  7|
|    SPD Smith (AUS)|2010-2024|113*| 201| 25| 9949| 239|56.52|18564|53.59| 34| 41| 11|1089| 57|
| JH Kallis (ICC/SA)|1995-2013| 166| 280| 40|13289| 224|55.37|28903|45.97| 45| 58| 16|1488| 97|
| GE Tyldesley (ENG)|1921-1929|  14|  20|  2|  990| 122| 55.0| 178+|29.21|  3|  6|  2|  37|  2|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
| KS Williamson (NZ)|2010-2024| 105| 186| 17| 9276| 251|54.88|17913|51.78| 33| 37| 11|1031| 27|
|  YBK Jaiswal (IND)|2023-2024| 18*|  33|  2| 1682|214*|54.25| 2469|68.12|  4|  9|  3| 194| 39|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
only showing top 20 rows

In [53]:
## threshold
# for that row at least 3 non-null values should be present then only drop
df_pyspark.na.drop(how="any",thresh=3).show()

+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|             Player|     Span| Mat|Inns| NO| Runs|  HS|  Ave|   BF|   SR|100| 50|  0|  4s| 6s|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|   DG Bradman (AUS)|1928-1948|  52|  80| 10| 6996| 334|99.94|9800+| 58.6| 29| 13|  7| 626|  6|
|     AC Voges (AUS)|2015-2016|  20|  31|  7| 1485|269*|61.87| 2667|55.68|  5|  4|  2| 186|  5|
|    RG Pollock (SA)|1963-1970|  23|  41|  4| 2256| 274|60.97|1707+|54.48|  7| 11|  1| 246| 11|
|    GA Headley (WI)|1930-1954|  22|  40|  4| 2190|270*|60.83| 416+| 56.0| 10|  5|  2| 104|  1|
|  H Sutcliffe (ENG)|1924-1935|  54|  84|  9| 4555| 194|60.73|6558+|34.59| 16| 23|  2| 202|  6|
|    E Paynter (ENG)|1931-1939|  20|  31|  5| 1540| 243|59.23|1288+|45.88|  4|  7|  3| 125|  4|
|KF Barrington (ENG)|1955-1968|  82| 131| 15| 6806| 256|58.67|4957+|42.42| 20| 35|  5| 591| 27|
|     ED Weekes (WI)|1948-1958|  48|  81|  5| 4455| 207|58.61| NULL|  0.0| 15| 19|  6| 258|  2|
|     HC Brook (ENG)|2022-2024|  24|  40|  1| 2281| 317|58.48| 2581|88.37|  8| 10|  2| 246| 37|
|   WR Hammond (ENG)|1927-1947|  85| 140| 16| 7249|336*|58.45|7491+|38.07| 22| 24|  4| 419| 27|
|     GS Sobers (WI)|1954-1974|  93| 160| 21| 8032|365*|57.78|4063+|53.58| 26| 30| 12| 593| 32|
| KC Sangakkara (SL)|2000-2015| 134| 233| 17|12400| 319| 57.4|22882|54.19| 38| 52| 11|1491| 51|
|     JB Hobbs (ENG)|1908-1930|  61| 102|  7| 5410| 211|56.94|5363+|46.22| 15| 28|  4| 276|  8|
|    CL Walcott (WI)|1948-1960|  44|  74|  7| 3798| 220|56.68| NULL|  0.0| 15| 14|  1| 107| 11|
|     L Hutton (ENG)|1937-1955|  79| 138| 15| 6971| 364|56.67|2844+|39.34| 19| 33|  5| 358|  7|
|    SPD Smith (AUS)|2010-2024|113*| 201| 25| 9949| 239|56.52|18564|53.59| 34| 41| 11|1089| 57|
| JH Kallis (ICC/SA)|1995-2013| 166| 280| 40|13289| 224|55.37|28903|45.97| 45| 58| 16|1488| 97|
| GE Tyldesley (ENG)|1921-1929|  14|  20|  2|  990| 122| 55.0| 178+|29.21|  3|  6|  2|  37|  2|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
only showing top 20 rows

In [54]:
##Subset -  drop NaN from the specific columns
df_pyspark.na.drop(how="any",subset=['Inns']).show()

+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|             Player|     Span| Mat|Inns| NO| Runs|  HS|  Ave|   BF|   SR|100| 50|  0|  4s| 6s|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|   DG Bradman (AUS)|1928-1948|  52|  80| 10| 6996| 334|99.94|9800+| 58.6| 29| 13|  7| 626|  6|
|     AC Voges (AUS)|2015-2016|  20|  31|  7| 1485|269*|61.87| 2667|55.68|  5|  4|  2| 186|  5|
|    RG Pollock (SA)|1963-1970|  23|  41|  4| 2256| 274|60.97|1707+|54.48|  7| 11|  1| 246| 11|
|    GA Headley (WI)|1930-1954|  22|  40|  4| 2190|270*|60.83| 416+| 56.0| 10|  5|  2| 104|  1|
|  H Sutcliffe (ENG)|1924-1935|  54|  84|  9| 4555| 194|60.73|6558+|34.59| 16| 23|  2| 202|  6|
|    E Paynter (ENG)|1931-1939|  20|  31|  5| 1540| 243|59.23|1288+|45.88|  4|  7|  3| 125|  4|
|KF Barrington (ENG)|1955-1968|  82| 131| 15| 6806| 256|58.67|4957+|42.42| 20| 35|  5| 591| 27|
|     ED Weekes (WI)|1948-1958|  48|  81|  5| 4455| 207|58.61| NULL|  0.0| 15| 19|  6| 258|  2|
|     HC Brook (ENG)|2022-2024|  24|  40|  1| 2281| 317|58.48| 2581|88.37|  8| 10|  2| 246| 37|
|   WR Hammond (ENG)|1927-1947|  85| 140| 16| 7249|336*|58.45|7491+|38.07| 22| 24|  4| 419| 27|
|     GS Sobers (WI)|1954-1974|  93| 160| 21| 8032|365*|57.78|4063+|53.58| 26| 30| 12| 593| 32|
| KC Sangakkara (SL)|2000-2015| 134| 233| 17|12400| 319| 57.4|22882|54.19| 38| 52| 11|1491| 51|
|     JB Hobbs (ENG)|1908-1930|  61| 102|  7| 5410| 211|56.94|5363+|46.22| 15| 28|  4| 276|  8|
|    CL Walcott (WI)|1948-1960|  44|  74|  7| 3798| 220|56.68| NULL|  0.0| 15| 14|  1| 107| 11|
|     L Hutton (ENG)|1937-1955|  79| 138| 15| 6971| 364|56.67|2844+|39.34| 19| 33|  5| 358|  7|
|    SPD Smith (AUS)|2010-2024|113*| 201| 25| 9949| 239|56.52|18564|53.59| 34| 41| 11|1089| 57|
| JH Kallis (ICC/SA)|1995-2013| 166| 280| 40|13289| 224|55.37|28903|45.97| 45| 58| 16|1488| 97|
| GE Tyldesley (ENG)|1921-1929|  14|  20|  2|  990| 122| 55.0| 178+|29.21|  3|  6|  2|  37|  2|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
only showing top 20 rows

In [55]:
### Filling the Missing Value
df_pyspark.na.fill('Missing Values',['Mat','Inns']).show()

+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|             Player|     Span| Mat|Inns| NO| Runs|  HS|  Ave|   BF|   SR|100| 50|  0|  4s| 6s|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|   DG Bradman (AUS)|1928-1948|  52|  80| 10| 6996| 334|99.94|9800+| 58.6| 29| 13|  7| 626|  6|
|     AC Voges (AUS)|2015-2016|  20|  31|  7| 1485|269*|61.87| 2667|55.68|  5|  4|  2| 186|  5|
|    RG Pollock (SA)|1963-1970|  23|  41|  4| 2256| 274|60.97|1707+|54.48|  7| 11|  1| 246| 11|
|    GA Headley (WI)|1930-1954|  22|  40|  4| 2190|270*|60.83| 416+| 56.0| 10|  5|  2| 104|  1|
|  H Sutcliffe (ENG)|1924-1935|  54|  84|  9| 4555| 194|60.73|6558+|34.59| 16| 23|  2| 202|  6|
|    E Paynter (ENG)|1931-1939|  20|  31|  5| 1540| 243|59.23|1288+|45.88|  4|  7|  3| 125|  4|
|KF Barrington (ENG)|1955-1968|  82| 131| 15| 6806| 256|58.67|4957+|42.42| 20| 35|  5| 591| 27|
|     ED Weekes (WI)|1948-1958|  48|  81|  5| 4455| 207|58.61| NULL|  0.0| 15| 19|  6| 258|  2|
|     HC Brook (ENG)|2022-2024|  24|  40|  1| 2281| 317|58.48| 2581|88.37|  8| 10|  2| 246| 37|
|   WR Hammond (ENG)|1927-1947|  85| 140| 16| 7249|336*|58.45|7491+|38.07| 22| 24|  4| 419| 27|
|     GS Sobers (WI)|1954-1974|  93| 160| 21| 8032|365*|57.78|4063+|53.58| 26| 30| 12| 593| 32|
| KC Sangakkara (SL)|2000-2015| 134| 233| 17|12400| 319| 57.4|22882|54.19| 38| 52| 11|1491| 51|
|     JB Hobbs (ENG)|1908-1930|  61| 102|  7| 5410| 211|56.94|5363+|46.22| 15| 28|  4| 276|  8|
|    CL Walcott (WI)|1948-1960|  44|  74|  7| 3798| 220|56.68| NULL|  0.0| 15| 14|  1| 107| 11|
|     L Hutton (ENG)|1937-1955|  79| 138| 15| 6971| 364|56.67|2844+|39.34| 19| 33|  5| 358|  7|
|    SPD Smith (AUS)|2010-2024|113*| 201| 25| 9949| 239|56.52|18564|53.59| 34| 41| 11|1089| 57|
| JH Kallis (ICC/SA)|1995-2013| 166| 280| 40|13289| 224|55.37|28903|45.97| 45| 58| 16|1488| 97|
| GE Tyldesley (ENG)|1921-1929|  14|  20|  2|  990| 122| 55.0| 178+|29.21|  3|  6|  2|  37|  2|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
only showing top 20 rows

In [56]:
df_pyspark.na.fill('Missing Values').show() # in all columns and rows

+-------------------+---------+----+----+---+-----+----+-----+--------------+-----+---+---+---+----+---+
|             Player|     Span| Mat|Inns| NO| Runs|  HS|  Ave|            BF|   SR|100| 50|  0|  4s| 6s|
+-------------------+---------+----+----+---+-----+----+-----+--------------+-----+---+---+---+----+---+
|   DG Bradman (AUS)|1928-1948|  52|  80| 10| 6996| 334|99.94|         9800+| 58.6| 29| 13|  7| 626|  6|
|     AC Voges (AUS)|2015-2016|  20|  31|  7| 1485|269*|61.87|          2667|55.68|  5|  4|  2| 186|  5|
|    RG Pollock (SA)|1963-1970|  23|  41|  4| 2256| 274|60.97|         1707+|54.48|  7| 11|  1| 246| 11|
|    GA Headley (WI)|1930-1954|  22|  40|  4| 2190|270*|60.83|          416+| 56.0| 10|  5|  2| 104|  1|
|  H Sutcliffe (ENG)|1924-1935|  54|  84|  9| 4555| 194|60.73|         6558+|34.59| 16| 23|  2| 202|  6|
|    E Paynter (ENG)|1931-1939|  20|  31|  5| 1540| 243|59.23|         1288+|45.88|  4|  7|  3| 125|  4|
|KF Barrington (ENG)|1955-1968|  82| 131| 15| 6806| 256|58.67|         4957+|42.42| 20| 35|  5| 591| 27|
|     ED Weekes (WI)|1948-1958|  48|  81|  5| 4455| 207|58.61|Missing Values|  0.0| 15| 19|  6| 258|  2|
|     HC Brook (ENG)|2022-2024|  24|  40|  1| 2281| 317|58.48|          2581|88.37|  8| 10|  2| 246| 37|
|   WR Hammond (ENG)|1927-1947|  85| 140| 16| 7249|336*|58.45|         7491+|38.07| 22| 24|  4| 419| 27|
|     GS Sobers (WI)|1954-1974|  93| 160| 21| 8032|365*|57.78|         4063+|53.58| 26| 30| 12| 593| 32|
| KC Sangakkara (SL)|2000-2015| 134| 233| 17|12400| 319| 57.4|         22882|54.19| 38| 52| 11|1491| 51|
|     JB Hobbs (ENG)|1908-1930|  61| 102|  7| 5410| 211|56.94|         5363+|46.22| 15| 28|  4| 276|  8|
|    CL Walcott (WI)|1948-1960|  44|  74|  7| 3798| 220|56.68|Missing Values|  0.0| 15| 14|  1| 107| 11|
|     L Hutton (ENG)|1937-1955|  79| 138| 15| 6971| 364|56.67|         2844+|39.34| 19| 33|  5| 358|  7|
|    SPD Smith (AUS)|2010-2024|113*| 201| 25| 9949| 239|56.52|         18564|53.59| 34| 41| 11|1089| 57|
| JH Kallis (ICC/SA)|1995-2013| 166| 280| 40|13289| 224|55.37|         28903|45.97| 45| 58| 16|1488| 97|
| GE Tyldesley (ENG)|1921-1929|  14|  20|  2|  990| 122| 55.0|          178+|29.21|  3|  6|  2|  37|  2|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92|          2925|48.82|  4|  7|  1| 148|  1|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92|          2925|48.82|  4|  7|  1| 148|  1|
+-------------------+---------+----+----+---+-----+----+-----+--------------+-----+---+---+---+----+---+
only showing top 20 rows

In [57]:
df_pyspark.show()

+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|             Player|     Span| Mat|Inns| NO| Runs|  HS|  Ave|   BF|   SR|100| 50|  0|  4s| 6s|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|   DG Bradman (AUS)|1928-1948|  52|  80| 10| 6996| 334|99.94|9800+| 58.6| 29| 13|  7| 626|  6|
|     AC Voges (AUS)|2015-2016|  20|  31|  7| 1485|269*|61.87| 2667|55.68|  5|  4|  2| 186|  5|
|    RG Pollock (SA)|1963-1970|  23|  41|  4| 2256| 274|60.97|1707+|54.48|  7| 11|  1| 246| 11|
|    GA Headley (WI)|1930-1954|  22|  40|  4| 2190|270*|60.83| 416+| 56.0| 10|  5|  2| 104|  1|
|  H Sutcliffe (ENG)|1924-1935|  54|  84|  9| 4555| 194|60.73|6558+|34.59| 16| 23|  2| 202|  6|
|    E Paynter (ENG)|1931-1939|  20|  31|  5| 1540| 243|59.23|1288+|45.88|  4|  7|  3| 125|  4|
|KF Barrington (ENG)|1955-1968|  82| 131| 15| 6806| 256|58.67|4957+|42.42| 20| 35|  5| 591| 27|
|     ED Weekes (WI)|1948-1958|  48|  81|  5| 4455| 207|58.61| NULL|  0.0| 15| 19|  6| 258|  2|
|     HC Brook (ENG)|2022-2024|  24|  40|  1| 2281| 317|58.48| 2581|88.37|  8| 10|  2| 246| 37|
|   WR Hammond (ENG)|1927-1947|  85| 140| 16| 7249|336*|58.45|7491+|38.07| 22| 24|  4| 419| 27|
|     GS Sobers (WI)|1954-1974|  93| 160| 21| 8032|365*|57.78|4063+|53.58| 26| 30| 12| 593| 32|
| KC Sangakkara (SL)|2000-2015| 134| 233| 17|12400| 319| 57.4|22882|54.19| 38| 52| 11|1491| 51|
|     JB Hobbs (ENG)|1908-1930|  61| 102|  7| 5410| 211|56.94|5363+|46.22| 15| 28|  4| 276|  8|
|    CL Walcott (WI)|1948-1960|  44|  74|  7| 3798| 220|56.68| NULL|  0.0| 15| 14|  1| 107| 11|
|     L Hutton (ENG)|1937-1955|  79| 138| 15| 6971| 364|56.67|2844+|39.34| 19| 33|  5| 358|  7|
|    SPD Smith (AUS)|2010-2024|113*| 201| 25| 9949| 239|56.52|18564|53.59| 34| 41| 11|1089| 57|
| JH Kallis (ICC/SA)|1995-2013| 166| 280| 40|13289| 224|55.37|28903|45.97| 45| 58| 16|1488| 97|
| GE Tyldesley (ENG)|1921-1929|  14|  20|  2|  990| 122| 55.0| 178+|29.21|  3|  6|  2|  37|  2|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
only showing top 20 rows

In [58]:
df_pyspark.printSchema()

root
 |-- Player: string (nullable = true)
 |-- Span: string (nullable = true)
 |-- Mat: string (nullable = true)
 |-- Inns: integer (nullable = true)
 |-- NO: integer (nullable = true)
 |-- Runs: integer (nullable = true)
 |-- HS: string (nullable = true)
 |-- Ave: double (nullable = true)
 |-- BF: string (nullable = true)
 |-- SR: double (nullable = true)
 |-- 100: integer (nullable = true)
 |-- 50: integer (nullable = true)
 |-- 0: integer (nullable = true)
 |-- 4s: integer (nullable = true)
 |-- 6s: integer (nullable = true)

In [59]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['BF'],
    outputCols=["{}_imputed".format(c) for c in ['BF']]
    ).setStrategy("median")

In [ ]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

Pyspark Dataframes
- Filter Operation
- &,|,==
- ~

In [61]:
from pyspark.sql import SparkSession

In [62]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [63]:
df_pyspark=spark.read.csv('/content/CricketTestMatchData.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|             Player|     Span| Mat|Inns| NO| Runs|  HS|  Ave|   BF|   SR|100| 50|  0|  4s| 6s|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|   DG Bradman (AUS)|1928-1948|  52|  80| 10| 6996| 334|99.94|9800+| 58.6| 29| 13|  7| 626|  6|
|     AC Voges (AUS)|2015-2016|  20|  31|  7| 1485|269*|61.87| 2667|55.68|  5|  4|  2| 186|  5|
|    RG Pollock (SA)|1963-1970|  23|  41|  4| 2256| 274|60.97|1707+|54.48|  7| 11|  1| 246| 11|
|    GA Headley (WI)|1930-1954|  22|  40|  4| 2190|270*|60.83| 416+| 56.0| 10|  5|  2| 104|  1|
|  H Sutcliffe (ENG)|1924-1935|  54|  84|  9| 4555| 194|60.73|6558+|34.59| 16| 23|  2| 202|  6|
|    E Paynter (ENG)|1931-1939|  20|  31|  5| 1540| 243|59.23|1288+|45.88|  4|  7|  3| 125|  4|
|KF Barrington (ENG)|1955-1968|  82| 131| 15| 6806| 256|58.67|4957+|42.42| 20| 35|  5| 591| 27|
|     ED Weekes (WI)|1948-1958|  48|  81|  5| 4455| 207|58.61| NULL|  0.0| 15| 19|  6| 258|  2|
|     HC Brook (ENG)|2022-2024|  24|  40|  1| 2281| 317|58.48| 2581|88.37|  8| 10|  2| 246| 37|
|   WR Hammond (ENG)|1927-1947|  85| 140| 16| 7249|336*|58.45|7491+|38.07| 22| 24|  4| 419| 27|
|     GS Sobers (WI)|1954-1974|  93| 160| 21| 8032|365*|57.78|4063+|53.58| 26| 30| 12| 593| 32|
| KC Sangakkara (SL)|2000-2015| 134| 233| 17|12400| 319| 57.4|22882|54.19| 38| 52| 11|1491| 51|
|     JB Hobbs (ENG)|1908-1930|  61| 102|  7| 5410| 211|56.94|5363+|46.22| 15| 28|  4| 276|  8|
|    CL Walcott (WI)|1948-1960|  44|  74|  7| 3798| 220|56.68| NULL|  0.0| 15| 14|  1| 107| 11|
|     L Hutton (ENG)|1937-1955|  79| 138| 15| 6971| 364|56.67|2844+|39.34| 19| 33|  5| 358|  7|
|    SPD Smith (AUS)|2010-2024|113*| 201| 25| 9949| 239|56.52|18564|53.59| 34| 41| 11|1089| 57|
| JH Kallis (ICC/SA)|1995-2013| 166| 280| 40|13289| 224|55.37|28903|45.97| 45| 58| 16|1488| 97|
| GE Tyldesley (ENG)|1921-1929|  14|  20|  2|  990| 122| 55.0| 178+|29.21|  3|  6|  2|  37|  2|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
only showing top 20 rows

Filter Operations

In [66]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("Runs>=5000").show()

+--------------------+---------+----+----+---+-----+----+-----+------+-----+---+---+---+----+---+
|              Player|     Span| Mat|Inns| NO| Runs|  HS|  Ave|    BF|   SR|100| 50|  0|  4s| 6s|
+--------------------+---------+----+----+---+-----+----+-----+------+-----+---+---+---+----+---+
|    DG Bradman (AUS)|1928-1948|  52|  80| 10| 6996| 334|99.94| 9800+| 58.6| 29| 13|  7| 626|  6|
| KF Barrington (ENG)|1955-1968|  82| 131| 15| 6806| 256|58.67| 4957+|42.42| 20| 35|  5| 591| 27|
|    WR Hammond (ENG)|1927-1947|  85| 140| 16| 7249|336*|58.45| 7491+|38.07| 22| 24|  4| 419| 27|
|      GS Sobers (WI)|1954-1974|  93| 160| 21| 8032|365*|57.78| 4063+|53.58| 26| 30| 12| 593| 32|
|  KC Sangakkara (SL)|2000-2015| 134| 233| 17|12400| 319| 57.4| 22882|54.19| 38| 52| 11|1491| 51|
|      JB Hobbs (ENG)|1908-1930|  61| 102|  7| 5410| 211|56.94| 5363+|46.22| 15| 28|  4| 276|  8|
|      L Hutton (ENG)|1937-1955|  79| 138| 15| 6971| 364|56.67| 2844+|39.34| 19| 33|  5| 358|  7|
|     SPD Smith (AUS)|2010-2024|113*| 201| 25| 9949| 239|56.52| 18564|53.59| 34| 41| 11|1089| 57|
|  JH Kallis (ICC/SA)|1995-2013| 166| 280| 40|13289| 224|55.37| 28903|45.97| 45| 58| 16|1488| 97|
|  KS Williamson (NZ)|2010-2024| 105| 186| 17| 9276| 251|54.88| 17913|51.78| 33| 37| 11|1031| 27|
|   GS Chappell (AUS)|1970-1984|  87| 151| 19| 7110|247*|53.86|13079+|51.53| 24| 31| 12| 755| 16|
|  SR Tendulkar (IND)|1989-2013| 200| 329| 33|15921|248*|53.78|29437+|54.04| 51| 68| 14|2058| 69|
|    BC Lara (ICC/WI)|1990-2006| 131| 232|  6|11953|400*|52.88| 19753|60.51| 34| 48| 17|1559| 88|
| Javed Miandad (PAK)|1976-1993| 124| 189| 21| 8832|280*|52.57|15164+|45.99| 23| 43|  6| 788| 48|
|  R Dravid (ICC/IND)|1996-2012| 164| 286| 32|13288| 270|52.31| 31258|42.51| 36| 63|  8|1654| 21|
|Mohammad Yousuf (...|1998-2010|  90| 156| 12| 7530| 223|52.29| 14372|52.39| 24| 33| 11| 957| 51|
|   Younis Khan (PAK)|2000-2017| 118| 213| 19|10099| 313|52.05| 19375|52.12| 34| 33| 19|1082| 70|
|    RT Ponting (AUS)|1995-2012| 168| 287| 29|13378| 257|51.85| 22782|58.72| 41| 62| 17|1509| 73|
|    MEK Hussey (AUS)|2005-2013|  79| 137| 16| 6235| 195|51.52| 12436|50.13| 19| 29| 12| 685| 39|
|  S Chanderpaul (WI)|1994-2015| 164| 280| 49|11867|203*|51.37| 27395|43.31| 30| 66| 15|1285| 36|
+--------------------+---------+----+----+---+-----+----+-----+------+-----+---+---+---+----+---+
only showing top 20 rows

In [69]:
df_pyspark.filter("Runs>=10000").select(['Player','Ave']).show()

+--------------------+-----+
|              Player|  Ave|
+--------------------+-----+
|  KC Sangakkara (SL)| 57.4|
|  JH Kallis (ICC/SA)|55.37|
|  SR Tendulkar (IND)|53.78|
|    BC Lara (ICC/WI)|52.88|
|  R Dravid (ICC/IND)|52.31|
|   Younis Khan (PAK)|52.05|
|    RT Ponting (AUS)|51.85|
|  S Chanderpaul (WI)|51.37|
|   SM Gavaskar (IND)|51.12|
|      SR Waugh (AUS)|51.06|
|       JE Root (ENG)|50.87|
|     AR Border (AUS)|50.56|
|DPMD Jayawardene ...|49.84|
+--------------------+-----+

In [70]:
df_pyspark.filter(df_pyspark['Runs']>=10000).show()

+--------------------+---------+---+----+---+-----+----+-----+------+-----+---+---+---+----+---+
|              Player|     Span|Mat|Inns| NO| Runs|  HS|  Ave|    BF|   SR|100| 50|  0|  4s| 6s|
+--------------------+---------+---+----+---+-----+----+-----+------+-----+---+---+---+----+---+
|  KC Sangakkara (SL)|2000-2015|134| 233| 17|12400| 319| 57.4| 22882|54.19| 38| 52| 11|1491| 51|
|  JH Kallis (ICC/SA)|1995-2013|166| 280| 40|13289| 224|55.37| 28903|45.97| 45| 58| 16|1488| 97|
|  SR Tendulkar (IND)|1989-2013|200| 329| 33|15921|248*|53.78|29437+|54.04| 51| 68| 14|2058| 69|
|    BC Lara (ICC/WI)|1990-2006|131| 232|  6|11953|400*|52.88| 19753|60.51| 34| 48| 17|1559| 88|
|  R Dravid (ICC/IND)|1996-2012|164| 286| 32|13288| 270|52.31| 31258|42.51| 36| 63|  8|1654| 21|
|   Younis Khan (PAK)|2000-2017|118| 213| 19|10099| 313|52.05| 19375|52.12| 34| 33| 19|1082| 70|
|    RT Ponting (AUS)|1995-2012|168| 287| 29|13378| 257|51.85| 22782|58.72| 41| 62| 17|1509| 73|
|  S Chanderpaul (WI)|1994-2015|164| 280| 49|11867|203*|51.37| 27395|43.31| 30| 66| 15|1285| 36|
|   SM Gavaskar (IND)|1971-1987|125| 214| 16|10122|236*|51.12|14184+|43.35| 34| 45| 12| 908| 26|
|      SR Waugh (AUS)|1985-2004|168| 260| 46|10927| 200|51.06| 22461|48.64| 32| 50| 22|1175| 20|
|       JE Root (ENG)|2012-2024|152| 278| 23|12972| 262|50.87| 22568|57.47| 36| 65| 13|1394| 45|
|     AR Border (AUS)|1978-1994|156| 265| 44|11174| 205|50.56|27002+|41.09| 27| 63| 11|1161| 28|
|DPMD Jayawardene ...|1997-2014|149| 252| 15|11814| 374|49.84| 22959|51.45| 34| 50| 15|1387| 61|
+--------------------+---------+---+----+---+-----+----+-----+------+-----+---+---+---+----+---+

In [72]:
df_pyspark.filter((df_pyspark['Runs']<=8000) |
                  (df_pyspark['Runs']>= 5000)).show()

+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|             Player|     Span| Mat|Inns| NO| Runs|  HS|  Ave|   BF|   SR|100| 50|  0|  4s| 6s|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
|   DG Bradman (AUS)|1928-1948|  52|  80| 10| 6996| 334|99.94|9800+| 58.6| 29| 13|  7| 626|  6|
|     AC Voges (AUS)|2015-2016|  20|  31|  7| 1485|269*|61.87| 2667|55.68|  5|  4|  2| 186|  5|
|    RG Pollock (SA)|1963-1970|  23|  41|  4| 2256| 274|60.97|1707+|54.48|  7| 11|  1| 246| 11|
|    GA Headley (WI)|1930-1954|  22|  40|  4| 2190|270*|60.83| 416+| 56.0| 10|  5|  2| 104|  1|
|  H Sutcliffe (ENG)|1924-1935|  54|  84|  9| 4555| 194|60.73|6558+|34.59| 16| 23|  2| 202|  6|
|    E Paynter (ENG)|1931-1939|  20|  31|  5| 1540| 243|59.23|1288+|45.88|  4|  7|  3| 125|  4|
|KF Barrington (ENG)|1955-1968|  82| 131| 15| 6806| 256|58.67|4957+|42.42| 20| 35|  5| 591| 27|
|     ED Weekes (WI)|1948-1958|  48|  81|  5| 4455| 207|58.61| NULL|  0.0| 15| 19|  6| 258|  2|
|     HC Brook (ENG)|2022-2024|  24|  40|  1| 2281| 317|58.48| 2581|88.37|  8| 10|  2| 246| 37|
|   WR Hammond (ENG)|1927-1947|  85| 140| 16| 7249|336*|58.45|7491+|38.07| 22| 24|  4| 419| 27|
|     GS Sobers (WI)|1954-1974|  93| 160| 21| 8032|365*|57.78|4063+|53.58| 26| 30| 12| 593| 32|
| KC Sangakkara (SL)|2000-2015| 134| 233| 17|12400| 319| 57.4|22882|54.19| 38| 52| 11|1491| 51|
|     JB Hobbs (ENG)|1908-1930|  61| 102|  7| 5410| 211|56.94|5363+|46.22| 15| 28|  4| 276|  8|
|    CL Walcott (WI)|1948-1960|  44|  74|  7| 3798| 220|56.68| NULL|  0.0| 15| 14|  1| 107| 11|
|     L Hutton (ENG)|1937-1955|  79| 138| 15| 6971| 364|56.67|2844+|39.34| 19| 33|  5| 358|  7|
|    SPD Smith (AUS)|2010-2024|113*| 201| 25| 9949| 239|56.52|18564|53.59| 34| 41| 11|1089| 57|
| JH Kallis (ICC/SA)|1995-2013| 166| 280| 40|13289| 224|55.37|28903|45.97| 45| 58| 16|1488| 97|
| GE Tyldesley (ENG)|1921-1929|  14|  20|  2|  990| 122| 55.0| 178+|29.21|  3|  6|  2|  37|  2|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4| 1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
+-------------------+---------+----+----+---+-----+----+-----+-----+-----+---+---+---+----+---+
only showing top 20 rows

In [73]:
df_pyspark.filter(~(df_pyspark['Runs']>=10000)).show()

+-------------------+---------+----+----+---+----+----+-----+-----+-----+---+---+---+----+---+
|             Player|     Span| Mat|Inns| NO|Runs|  HS|  Ave|   BF|   SR|100| 50|  0|  4s| 6s|
+-------------------+---------+----+----+---+----+----+-----+-----+-----+---+---+---+----+---+
|   DG Bradman (AUS)|1928-1948|  52|  80| 10|6996| 334|99.94|9800+| 58.6| 29| 13|  7| 626|  6|
|     AC Voges (AUS)|2015-2016|  20|  31|  7|1485|269*|61.87| 2667|55.68|  5|  4|  2| 186|  5|
|    RG Pollock (SA)|1963-1970|  23|  41|  4|2256| 274|60.97|1707+|54.48|  7| 11|  1| 246| 11|
|    GA Headley (WI)|1930-1954|  22|  40|  4|2190|270*|60.83| 416+| 56.0| 10|  5|  2| 104|  1|
|  H Sutcliffe (ENG)|1924-1935|  54|  84|  9|4555| 194|60.73|6558+|34.59| 16| 23|  2| 202|  6|
|    E Paynter (ENG)|1931-1939|  20|  31|  5|1540| 243|59.23|1288+|45.88|  4|  7|  3| 125|  4|
|KF Barrington (ENG)|1955-1968|  82| 131| 15|6806| 256|58.67|4957+|42.42| 20| 35|  5| 591| 27|
|     ED Weekes (WI)|1948-1958|  48|  81|  5|4455| 207|58.61| NULL|  0.0| 15| 19|  6| 258|  2|
|     HC Brook (ENG)|2022-2024|  24|  40|  1|2281| 317|58.48| 2581|88.37|  8| 10|  2| 246| 37|
|   WR Hammond (ENG)|1927-1947|  85| 140| 16|7249|336*|58.45|7491+|38.07| 22| 24|  4| 419| 27|
|     GS Sobers (WI)|1954-1974|  93| 160| 21|8032|365*|57.78|4063+|53.58| 26| 30| 12| 593| 32|
|     JB Hobbs (ENG)|1908-1930|  61| 102|  7|5410| 211|56.94|5363+|46.22| 15| 28|  4| 276|  8|
|    CL Walcott (WI)|1948-1960|  44|  74|  7|3798| 220|56.68| NULL|  0.0| 15| 14|  1| 107| 11|
|     L Hutton (ENG)|1937-1955|  79| 138| 15|6971| 364|56.67|2844+|39.34| 19| 33|  5| 358|  7|
|    SPD Smith (AUS)|2010-2024|113*| 201| 25|9949| 239|56.52|18564|53.59| 34| 41| 11|1089| 57|
| GE Tyldesley (ENG)|1921-1929|  14|  20|  2| 990| 122| 55.0| 178+|29.21|  3|  6|  2|  37|  2|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4|1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
| Saud Shakeel (PAK)|2022-2024| 16*|  30|  4|1428|208*|54.92| 2925|48.82|  4|  7|  1| 148|  1|
| KS Williamson (NZ)|2010-2024| 105| 186| 17|9276| 251|54.88|17913|51.78| 33| 37| 11|1031| 27|
|  YBK Jaiswal (IND)|2023-2024| 18*|  33|  2|1682|214*|54.25| 2469|68.12|  4|  9|  3| 194| 39|
+-------------------+---------+----+----+---+----+----+-----+-----+-----+---+---+---+----+---+
only showing top 20 rows

Pyspark GroupBy And Aggregate Functions

In [74]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Agg').getOrCreate()
spark

In [80]:
df_pyspark=spark.read.csv('/content/test.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [81]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [82]:
## Groupby
### Grouped to find the maximum salary
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [83]:
### Groupby Departmernts  which gives maximum salary
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [84]:
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [85]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [86]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

Examples Of Pyspark ML

In [87]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Missing').getOrCreate()

In [89]:
## Read The dataset
training = spark.read.csv('test_.csv',header=True,inferSchema=True)

In [90]:
training.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [91]:
training.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [92]:
training.columns

['Name', 'age', 'Experience', 'Salary']

In [94]:
# group all dependent features
#  [Age,Experience]----> new feature--->independent feature

In [95]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["age","Experience"],outputCol="Independent Features")

In [96]:
output=featureassembler.transform(training)

In [97]:
output.show()

+---------+---+----------+------+--------------------+
|     Name|age|Experience|Salary|Independent Features|
+---------+---+----------+------+--------------------+
|    Krish| 31|        10| 30000|         [31.0,10.0]|
|Sudhanshu| 30|         8| 25000|          [30.0,8.0]|
|    Sunny| 29|         4| 20000|          [29.0,4.0]|
|     Paul| 24|         3| 20000|          [24.0,3.0]|
|   Harsha| 21|         1| 15000|          [21.0,1.0]|
|  Shubham| 23|         2| 18000|          [23.0,2.0]|
+---------+---+----------+------+--------------------+

In [98]:
output.columns

['Name', 'age', 'Experience', 'Salary', 'Independent Features']

In [100]:
finalized_data = output.select("Independent Features","Salary")

In [101]:
finalized_data.show()

+--------------------+------+
|Independent Features|Salary|
+--------------------+------+
|         [31.0,10.0]| 30000|
|          [30.0,8.0]| 25000|
|          [29.0,4.0]| 20000|
|          [24.0,3.0]| 20000|
|          [21.0,1.0]| 15000|
|          [23.0,2.0]| 18000|
+--------------------+------+

In [102]:
from pyspark.ml.regression import LinearRegression
##train test split
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent Features', labelCol='Salary')
regressor=regressor.fit(train_data)

In [103]:
### Coefficients
regressor.coefficients

DenseVector([0.0, 1589.7436])

In [104]:
### Intercepts
regressor.intercept

13358.974358973943

In [105]:
### Prediction
pred_results=regressor.evaluate(test_data)

In [106]:
pred_results.predictions.show()

+--------------------+------+------------------+
|Independent Features|Salary|        prediction|
+--------------------+------+------------------+
|          [23.0,2.0]| 18000|16538.461538461514|
|          [24.0,3.0]| 20000|18128.205128205103|
+--------------------+------+------------------+

In [107]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError

(1666.6666666666915, 2819855.3583169794)