<a href="https://colab.research.google.com/github/rani-sikdar/Python-Data-Structures/blob/main/Python_Data_Structures_array_and_2D_array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
def freq(input_string):
    frequency_dict = {}
    for char in input_string:
        if char in frequency_dict:
            frequency_dict[char] += 1
        else:
            frequency_dict[char] = 1
    return frequency_dict

input_string = "hello world"

output = freq(input_string)
print(output)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [5]:
import pandas as pd
import numpy as np

# Creating the DataFrame
data = {
    'Product': ['A', 'B', 'C', 'D', 'E'],
    'Price': [100, None, 150, None, 200],
    'Stock': [50, 60, None, 80, 100]
}
df = pd.DataFrame(data)

# 1. Fill missing values in the 'Price' column with the median price
median_price = df['Price'].median()
df['Price'].fillna(median_price, inplace=True)

# 2. Drop rows where the 'Stock' column has missing values, inplace=true to make changes in the orginal dataframe
df.dropna(subset=['Stock'], inplace=True)

# 3. Add a new column 'Total Value' which is the product of 'Price' and 'Stock' (consider missing values as 0)
df['Total Value'] = df['Price'] * df['Stock']

# Print the resulting DataFrame
print(df)

  Product  Price  Stock  Total Value
0       A  100.0   50.0       5000.0
1       B  150.0   60.0       9000.0
3       D  150.0   80.0      12000.0
4       E  200.0  100.0      20000.0

<ipython-input-5-3295a19dcc67>:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price'].fillna(median_price, inplace=True)

# Python Data Structures â€“ 2D Array
Two dimensional array is an array within an array. It is an array of arrays. In this type of
array, the position of a data element is referred by two indices instead of one. So, it
represents a table with rows and columns of data.

In [10]:
arr = [[1,2,3], [11,22,33], [20,25,29]]
print(arr)
print(type(arr))

[[1, 2, 3], [11, 22, 33], [20, 25, 29]]
<class 'list'>

In [12]:
from array import *

arr = [[1,2,3], [11,22,33], [20,25,29]]

print(arr[0])

print(arr[2])

print(arr[2][2])

[1, 2, 3]
[20, 25, 29]
29

In [31]:
arr2 = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]

for i in arr2:
  print(i)

for row in arr2:
  for c in row:
    print(c, end=" ")
  print()

[11, 12, 5, 2]
[15, 6, 10]
[10, 8, 12, 5]
[12, 15, 8, 6]
11 12 5 2
15 6 10
10 8 12 5
12 15 8 6

In [23]:
arr2

[[11, 12, 5, 2], [15, 6, 10], [10, 8, 12, 5], [12, 15, 8, 6]]

In [24]:
arr2.insert(2, [0,3,4,7,8,2])

arr2

[[11, 12, 5, 2],
 [15, 6, 10],
 [0, 3, 4, 7, 8, 2],
 [10, 8, 12, 5],
 [12, 15, 8, 6]]

In [25]:
arr2

[[11, 12, 5, 2],
 [15, 6, 10],
 [0, 3, 4, 7, 8, 2],
 [10, 8, 12, 5],
 [12, 15, 8, 6]]

In [26]:
arr2[2]= [1,5,9,10,15]

arr2

[[11, 12, 5, 2],
 [15, 6, 10],
 [1, 5, 9, 10, 15],
 [10, 8, 12, 5],
 [12, 15, 8, 6]]

In [27]:
arr2[2][4]= 9999

arr2

[[11, 12, 5, 2],
 [15, 6, 10],
 [1, 5, 9, 10, 9999],
 [10, 8, 12, 5],
 [12, 15, 8, 6]]

In [32]:
del arr2[2]

for row in arr2:
  print(row)

[11, 12, 5, 2]
[15, 6, 10]
[12, 15, 8, 6]

## Python Data Structures â€“ Matrix
Matrix is a special case of two dimensional array, where, each data element is of strictly
same size. So, every matrix is also a two dimensional array but not, vice versa.  
- Matrices are very important data structures for many mathematical and scientific
calculations. As we have already discussed, two dimensional array data structure in the
previous chapter, we will be focusing on data structure operations specific to matrices in
this chapter.

In [33]:
from numpy import *

a = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
     ['Wed',15,21,20,19],['Thu',11,20,22,21],
     ['Fri',18,17,23,22],['Sat',12,22,20,18],
     ['Sun',13,15,19,16]])

matrix = reshape(a, (7,5))
print(matrix)

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Wed' '15' '21' '20' '19']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']]

In [34]:
print(matrix[2])

['Wed' '15' '21' '20' '19']

In [36]:
print(matrix[3][4])

21

In [40]:
matrix2 = append(matrix, [['Avg', 12, 15, 11, 13]], 0)
print(matrix2)

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Wed' '15' '21' '20' '19']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']
 ['Avg' '12' '15' '11' '13']]

In [41]:
# We can add column to a matrix using the insert() method. Here, we have to mention the index,
# where we want to add the column and an array containing the new values of the columns added.

matrix3 = insert(matrix,[5],[[1],[2],[3],[4],[5],[6],[7]],1)

print(matrix3)

[['Mon' '18' '20' '22' '17' '1']
 ['Tue' '11' '18' '21' '18' '2']
 ['Wed' '15' '21' '20' '19' '3']
 ['Thu' '11' '20' '22' '21' '4']
 ['Fri' '18' '17' '23' '22' '5']
 ['Sat' '12' '22' '20' '18' '6']
 ['Sun' '13' '15' '19' '16' '7']]

In [45]:
''' We can delete a row from a matrix by using the delete() method. We have to specify the
index of the row and also the axis value, which is 0 for a row and 1 for a column.
'''

matrix4 = delete(matrix, [2], 0)

print(matrix4)

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']]

In [47]:
''' delete the columnn '''
print("before deleting the column....","\n",matrix4)

matrix4= delete(matrix4, [2],1)

print("after deleting the column....","\n",matrix4)

before deleting the column....
 [['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']]
after deleting the column....
 [['Mon' '18' '22' '17']
 ['Tue' '11' '21' '18']
 ['Thu' '11' '22' '21']
 ['Fri' '18' '23' '22']
 ['Sat' '12' '20' '18']
 ['Sun' '13' '19' '16']]

In [52]:
print('before updating... \n',matrix)

matrix[3] = ['Thu', 0,0,0,0]

print('after updating.... \n',matrix)

before updating...
 [['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Wed' '15' '21' '20' '19']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']]
after updating....
 [['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Wed' '15' '21' '20' '19']
 ['Thu' '0' '0' '0' '0']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']]