<a href="https://colab.research.google.com/github/rani-sikdar/Python-Data-Structures/blob/main/Python_Data_Structures_array%2Clist%2Ctuple%2Cdict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Structures – Arrays
- Array is a container, which can hold a fix number of items and these items should be of
the same type. Most of the data structures make use of arrays to implement their
algorithms. The important terms to understand the concept of Array are as follows:
- Element− Each item stored in an array is called an element.


- Index − Each location of an element in an array has a numerical index, which is
used to identify the element.

In [1]:
from array import *

In [14]:
arr = array('i', [10,25,30,40,50])
print(type(arr))

for i in arr:
  print(i)

<class 'array.array'>
10
25
30
40
50

In [15]:
print(arr[2], arr[0])

30 10

In [16]:
arr.insert(1,20)
print(arr)

array('i', [10, 20, 25, 30, 40, 50])

In [17]:
arr.remove(20)
print(arr)

array('i', [10, 25, 30, 40, 50])

In [19]:
arr.index(30)

2

In [21]:
print(arr[4] )

arr[4]= 80
print(arr[4])

50
80

# Python Data Structures – Lists
- The list is a most versatile datatype available in Python, which can be written as a list of
comma-separated values (items) between square brackets. An important thing about the
list is that, items in a list need not be of the same type.

In [22]:
list1 = ['a', 'b', 'c', 'd', 'e']
list2 = [12,14,15,18,19,20]
list3 = ["physics", "chemistry", "maths", 1998, 2000]

print(list1, list2, list3)

['a', 'b', 'c', 'd', 'e'] [12, 14, 15, 18, 19, 20] ['physics', 'chemistry', 'maths', 1998, 2000]

In [27]:
print("list1[4] -->", list1[4])
print("list2[2] -->", list2[2])
print("list3[3] -->", list3[3])
print("list2[1:4] -->", list2[1:4])

list1[4] --> e
list2[2] --> 15
list3[3] --> 1998
list2[1:4] --> [14, 15, 18]

In [32]:
print(list2)

print("Before value at list2[4] --> ", list2[4])

list2[4] = 120

print("After value at list2[4] --> ", list2[4])

[12, 14, 15, 18, 150, 20]
Before value at list2[4] -->  150
After value at list2[4] -->  120

In [33]:
list3

['physics', 'chemistry', 'maths', 1998, 2000]

In [35]:
list3.append('biology')
list3

['physics', 'chemistry', 'maths', 1998, 2000, 'biology', 'biology']

In [37]:
del list3[5]
list3

['physics', 'chemistry', 'maths', 1998, 2000, 'biology']

In [38]:
len(list3)

6

In [40]:
new_list = list1 + list2 + list3
print(new_list)

['a', 'b', 'c', 'd', 'e', 12, 14, 15, 18, 120, 20, 'physics', 'chemistry', 'maths', 1998, 2000, 'biology']

In [41]:
print(['test- ']*4)

['test- ', 'test- ', 'test- ', 'test- ']

In [42]:
print(3 in [1,2,3])

True

In [44]:
for x in [1,3,5,7,9]: print (x)

1
3
5
7
9

In [51]:
list4 =[]

In [53]:
list5 =[1,2,]
print(len(list5))

2

# Python Data Structures – Tuples
- A tuple is a sequence of immutable Python objects, just like lists. The differences between
tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses,
whereas lists use square brackets.

In [50]:
tuple1 = ('a', 'b', 'c', 'd', 'e')
tuple2 = (12,14,15,18,19,20)
tuple3 = ("physics", "chemistry", "maths", 1998, 2000)

print(tuple1, "\n",tuple2,"\n", tuple3)

('a', 'b', 'c', 'd', 'e')
 (12, 14, 15, 18, 19, 20)
 ('physics', 'chemistry', 'maths', 1998, 2000)

In [54]:
tuple4 =()
len(tuple4)

0

In [56]:
tuple5 = (50, 40, 30,)
len(tuple5)

3

In [59]:
tuple1 = ('a', 'b', 'c', 'd', 'e')
tuple2 = (12,14,15,18,19,20)
tuple3 = ("physics", "chemistry", "maths", 1998, 2000)

print("tuple1[2] --> ", tuple1[2])
print("tuple2[4] --> ", tuple2[4])
print("tuple3[1] --> ", tuple3[1])
print("tuple3[1:3] --> ", tuple3[1:3])

tuple1[2] -->  c
tuple2[4] -->  19
tuple3[1] -->  chemistry
tuple3[1:3] -->  ('chemistry', 'maths')

In [60]:
tuple1[4] = "python"

TypeError: 'tuple' object does not support item assignment

In [61]:
new_tuple =tuple1 + tuple2
print(new_tuple)

('a', 'b', 'c', 'd', 'e', 12, 14, 15, 18, 19, 20)

In [64]:
del new_tuple

print(new_tuple)

NameError: name 'new_tuple' is not defined

In [65]:
len(tuple1)

5

In [66]:
(1,2,3) + ('a', 'b', 'c')

(1, 2, 3, 'a', 'b', 'c')

In [67]:
('test tuple- ' * 5)

'test tuple- test tuple- test tuple- test tuple- test tuple- '

In [68]:
print('e' in ('a', 'b', 'd', 'e'))

True

In [70]:
for x in (12, 13, 15, 29,55): print (x)

12
13
15
29
55

# Python Data Structures – Dictionary
- In Dictionary each key is separated from its value by a colon (:), the items are separated
by commas, and the whole thing is enclosed in curly braces. An empty dictionary without
any items is written with just two curly braces, like this: {}.
- Keys are unique within a dictionary while values may not be. The values of a dictionary
can be of any type, but the keys must be of an immutable data type, such as strings,
numbers, or tuples.

In [74]:
dict1 = {'Name':'Rani','Age':25, 'Role':'Data Scientist'}

print(dict1)
print(dict1['Name'], dict1['Age'])

{'Name': 'Rani', 'Age': 25, 'Role': 'Data Scientist'}
Rani 25

In [75]:
print(dict1['John'])

KeyError: 'John'

In [76]:
print('Before dict1 --> ', dict1)

dict1['Name'] = 'Rani_Sikdar'
dict1['Yoe']= 3.5

print('After dict1 --> ', dict1)

Before dict1 -->  {'Name': 'Rani', 'Age': 25, 'Role': 'Data Scientist'}
After dict1 -->  {'Name': 'Rani_Sikdar', 'Age': 25, 'Role': 'Data Scientist', 'Yoe': 3.5}

In [85]:
dict2={}
dict2 = dict1.copy()

In [86]:
dict2

{'Name': 'Rani_Sikdar', 'Age': 25, 'Role': 'Data Scientist', 'Yoe': 3.5}

In [87]:
print('before deleting Name from dict2 --> ', dict2)
del dict2['Name']
print('after deleting Name from dict2 -->', dict2)

print('deleting all entries from the dict2......')
dict2.clear()
print('after deleting all entries from the dict2 --> ', dict2)

print('deleting dict2.....')
del dict2

before deleting Name from dict2 -->  {'Name': 'Rani_Sikdar', 'Age': 25, 'Role': 'Data Scientist', 'Yoe': 3.5}
after deleting Name from dict2 --> {'Age': 25, 'Role': 'Data Scientist', 'Yoe': 3.5}
deleting all entries from the dict2......
after deleting all entries from the dict2 -->  {}
deleting dict2.....

In [88]:
dict2

NameError: name 'dict2' is not defined

Properties of Dictionary Keys -

- Dictionary values have no restrictions. They can be any arbitrary Python object, either
standard objects or user-defined objects. However, same is not true for the keys.
- There are two important points to remember about dictionary keys-
1. More than one entry per key not allowed. Which means, no duplicate key is allowed. When duplicate keys are encountered during assignment, the last assignment wins.
2. Keys must be immutable. Which means you can use strings, numbers or tuples as
dictionary keys, but something like ['key'] is not allowed.

In [94]:
dict4 = {'Name': 'Rani_Sikdar', 'Age': 25, 'Role': 'Data Scientist', 'Yoe': 3.5, 'Name':'Rani_Sikdar_v2'}
print('dict4[Name] --> ', dict4['Name'])

dict4[Name] -->  Rani_Sikdar_v2

In [97]:
dict5 = {['Name']: 'Rani_Sikdar', 'Age': 25 }
print('dict4[Name] --> ', dict5['Name'])

TypeError: unhashable type: 'list'

In [98]:
dict5 = {'Name': 'Rani_Sikdar', 'Age': 25 }
print('dict4[Name] --> ', dict5['Name'])

dict4[Name] -->  Rani_Sikdar